[2021-07-09 09:34] brancz opened #1 "JVM support"
This could be a built-in and pprof-integrated version of [perf-map-agent](https://github.com/jvm-profiling-tools/perf-map-agent) and/or [async-profiler](https://github.com/jvm-profiling-tools/async-profiler).

### Plan
1. In Phase one, use `async-profiler` to profile JVM processes. **https://github.com/parca-dev/parca-agent/issues/1115**
2. In Phase two, use the eBPF profiler to collect the profil

[2021-07-09 15:16] brancz opened #2 "Python support"
Prior art: https://github.com/benfred/py-spy#how-does-py-spy-work
Notes on native stacks (this would also be how we could add kernel space stacks): https://www.benfrederickson.com/profiling-native-python-extensions-with-py-spy/

To generate C bindings: https://github.com/xlab/c-for-go

[2021-07-09 15:18] brancz opened #3 "Ruby support"
Pretty complete eBPF ruby profiler that should be possible to be ported to Go: https://github.com/facebookexperimental/rbperf

[2021-07-09 15:23] brancz opened #4 "Extended Go support"
I've only done a light investigation on this, so this may still be bogus.

Elf symbols (`.symtab`) are often stripped using `-ldflags="-s -w"`, but the `.gosymtab` elf section is almost always there, ideally we convert `.gosymtab` to a “normal” elf debug symbol table (`.symtab`), if it's not already the same, and upload that as debug info as if they had been there the entire time.

Edit: According

[2021-07-09 15:45] brancz opened #5 "Allocation Profiling Support"
Aside from CPU profiling, allocation profiling is very useful as well, especially because a lot of CPU is spent on poor allocation practices. Allocation profiling can also be useful for troubleshooting memory leaks.

This can be done using USDT (Userland Statically Defined Tracing) using `uprobe`. It's likely that this will require language/runtime specific implementations (see bcc's [uobjnew](htt

[2021-07-12 09:17] brancz opened #6 "External label support"
Similar to Prometheus, it often happens that one wants to attach the same label(s) to all profiles of the nodes, such as `region`, `env`, or any other to distinguish and slices and dice profiles better.

When this is implemented a user should be able to specify multiple `--external-label=key=value` style flags, which then automatically get added to all targets.

[2021-07-12 09:33] brancz opened #7 "Customizing labeling"
We currently apply certain non-customizable labeling of data, but that may not be identical to how users label their other observability data. We should allow customizing target labels, in the Prometheus ecosystem, this is done via [relabel configs](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config), however, often relabeling is confusing especially to new-co

[2021-07-19 07:48] brancz opened #8 "Parca Agent symbols are not resolving"
I'm not sure where the problem lies for this, but it appears that when viewing a CPU profile taken from the Parca Agent itself when run on minikube, even though the symbols appear to be uploaded, they don't appear to resolve when looking at the profile.

Steps to reproduce:

* start minikube with VM: `minikube start --driver=virtualbox`
* [deploy parca agent](https://github.com/parca-dev/parca-age

[2021-07-28 14:49] kakkoyun opened #10 "Automate updating debian snapshots"
[code]

For now, we just disabled checks:
https://snapshot.debian.org/

[2021-07-29 11:48] #8 closed, assigned to nobody

[2021-08-18 07:09] brancz opened #14 "Batch write requests"
Currently, whenever a profile has been recorded, it is individually sent directly to a configured server. With potentially hundreds of profilers running on a single machine, it would make sense to batch these requests and only send them out once every 10 seconds or so. The write API already supports batched writes both in the series dimension as well as the number of samples.

[2021-08-19 11:44] brancz opened #16 "Sign releases with sigstore"
Since users need to run parca agent as root or with `CAP_SYS_ADMIN`, we want to do our utmost best to secure the supply chain of parca agent. An additional thing to the things that we are already doing today, would be to sign our artifacts. A popular and well maintained solution is https://www.sigstore.dev/

[2021-09-02 07:23] kakkoyun opened #23 "Add support for cgroup v2"
`parca-agent` supports only `cgroup` v1 right now. The `systemd` already started supporting v2.

Kubernetes changes are in the pipeline (https://github.com/kubernetes/kubernetes/pull/85218 & https://github.com/kubernetes/enhancements/issues/2254).

[2021-09-16 07:11] #6 closed, assigned to nobody

[2021-09-22 11:38] Sylfrena opened #34 "Add CLA enforcement"
Add support in CI to enable checking for CLA in PRs.
Refe  https://cla-assistant.io/ for instructions.

[2021-09-27 13:57] brancz opened #42 "OpenShift manifests"
Things we need added to the Kubernetes setup.

In the Parca Agent DaemonSet/container:

[code]

And a `ClusterRole`:

[code]

And a `RoleBinding`:

[code]

[2021-09-28 11:43] #42 closed, assigned to nobody

[2021-10-05 12:56] paulfantom opened #54 "Multi-arch builds: Arm64 container images + potential other architectures"
I see C code is potentially arm64-compliant, any possibility to get an arm64 container image, please? :)

[2021-10-05 15:54] brancz commented on #54
Definitely!

[2021-10-05 18:15] brancz commented on #34
Done

[2021-10-05 18:15] #34 closed

[2021-10-06 22:50] yeya24 opened #73 "Jsonnet: support serviceMonitor for agent"
It would be great to have a flag to enable service monitor (or podMonitor) in the jsonnet lib.

[2021-10-07 08:08] brancz opened #74 "Use batch operations"
https://github.com/parca-dev/parca-agent/blob/32327eae805c18a3483731cb3dea5fff697dbcb1/pkg/agent/profile.go#L280

libbpf supports the batch operations such as:

* `bpf_map_lookup_and_delete_batch`
* `bpf_map_lookup_batch`
* `bpf_map_delete_batch`

These make sense to be used. Because we already load all the data from the BPF maps into the memory of our user-space program, so might as well do it ef

[2021-10-08 01:12] yeya24 opened #81 "Make agent profiling duration configurable"
Make agent profiling duration configurable for users, like exposing it as a flag.

The duration is at https://github.com/parca-dev/parca-agent/blob/main/pkg/agent/profile.go#L55.

[2021-10-08 01:37] yeya24 opened #82 "Check symlink when trying to fetch debuginfo"
Got error on parca-agent:

[code]

`/proc/3820454/root/usr/lib/debug/bin` is actually a symlink to a directory.
[code]

Source code of this error: https://github.com/parca-dev/parca-agent/blob/main/pkg/debuginfo/debuginfo.go#L204

[2021-10-08 09:47] kakkoyun opened #83 "Investigate missing Go stack entries"
If there are go runtime stack entries, such as `runtime.mstart` or `runtime.sysmon`, then this is the Linux Kernel walking the go runtime stack too far.

_Originally posted by @brancz in https://github.com/parca-dev/parca.dev/pull/24#discussion_r724187974_

[2021-10-08 21:32] analytically opened #1163 "Support Nomad"
Would be great if it supported Nomad out of the box too - https://www.nomadproject.io/

[2021-10-10 12:15] paulfantom opened #90 "Problems with PID detection on k3s"
I got multiple warnings like the one below when running parca-agent in k3s on ubuntu 20.04 server.

[code]

`containerd.sock` on k3s is available in `/run/k3s/containerd/containerd.sock` so it might be good to add it to auto discovery.

An alternative approach could be to add a parameter to jsonnet library allowing passing socket configuration to the agent instead of patching arguments.

[2021-10-10 13:38] paulfantom commented on #82
I don't know if this is related, but I got the similar issue manifesting itself as:
[code]

[2021-10-10 13:40] paulfantom opened #91 "Multiple pprof normalization errors"
I am not sure if this will be of any use, but I got multiple errors from parca-agent:

[code]

[2021-10-11 07:55] kakkoyun commented on #90
There's already a flag to configure it. ref #48 However it's a good idea to automatically detect this.

[2021-10-11 16:33] paulfantom commented on #90
Seems like `providerID` is not always set. `kubectl get no -ojson | jq -r '.items[0].spec.providerID'` gives empty string on my `v1.21.3+k3s1` cluster. However using following should always give info about containerd:
[code]
And since the above is in `.Status` we do have a guarantee it is created by k3s binary, so it works on all k3s instances the same way.

Alternatively what about just blindly c

[2021-10-12 14:26] slashpai opened #96 "Add instructions to setup development environment"
I found it hard to setup development environment which involves llvm (on mac/ubuntu 18.04). It would be nice to have script to install all dependencies or troubleshooting guide for this

[2021-10-13 17:27] ArthurSens opened #97 "Support for namespace selector"
It would be nice to add the possibility to the agent to only collect profiles from pods running in specific namespaces. Use case is to reduce parca resource usage by not profiling namespaces that we're not interested in.

It is somewhat possible to do this today if we add a new label to all pods of the namespace we're interested in and use `--pod-label-selector`, but sometimes we don't have the po

[2021-10-15 11:04] brancz commented on #7
I'm not convinced that's totally necessary. The whole point of this project is to always profile everything. I would prefer if we focused all our efforts on reducing resource usage as much as possible.

[2021-10-15 11:07] #97 closed, assigned to nobody

[2021-10-18 12:01] #81 closed, assigned to slashpai

[2021-10-18 15:50] kakkoyun opened #104 "Agent fails when started without specifying `--profiling-duration`"
[code]
cc @slashpai

[2021-10-27 16:41] rlex opened #115 "Reduce amount of host mounts"
While it's completely understandable why parca-agent requires certain mounts, it will be nice to reduce amount of host mounts in k8s.

Main point (as discussed in discord if i recall correctly) is
[code]

Is mounting whole host root really needed?

[2021-11-03 10:17] #115 closed

[2021-11-03 11:08] #14 closed

[2021-11-12 18:09] cskinfill commented on #1
any progress with JVM support?

[2021-11-15 09:47] brancz commented on #16
Another related post: https://shibumi.dev/posts/keyless-signatures-with-github-actions/

[2021-11-15 10:29] brancz opened #129 "Translate kernel-wide PID to container PID for JIT symbolization"
Follow up for the kernel perf jit interface to be discoverable in containers.

https://github.com/parca-dev/parca-agent/pull/101#discussion_r735447933

[2021-11-17 09:18] #129 closed

[2021-11-19 09:47] brancz opened #139 "Error parsing erlang perf-map"
Launched a simple [rabbitmq](https://www.rabbitmq.com/) setup, which is written in erlang. Added the environment variable `ERL_FLAGS="+S 1 +JPperf true"`, which will make the erlang VM emit Linux Kernel JIT Perf Maps, which Parca Agent has support for. I verified that perf maps are indeed being emitted by the erlang VM, however saw this error in the logs when I turned on debug logs:

[code]

Theor

[2021-11-19 10:13] brancz commented on #139
I've got a failing test using an erlang perf map.

[2021-11-19 12:58] #139 closed

[2021-11-24 10:06] kakkoyun opened #142 "Heap Profiling Support"
- Figuring out what is in the program heap at any given time

- Locating memory leaks

- Finding places that do a lot of allocation

[2021-11-24 15:30] lilic opened #144 "Support multi-arch container images"
Currently, the Dockerfile can only build x86_64 images, due to the following lines:
https://github.com/parca-dev/parca-agent/blob/8338e7725d3cda39f1f5ae2c79be2d6370fd1c97/Dockerfile#L33-L40

On the latest Mac this location is actually `aarch64-linux-gnu `for example. Changing it in the Dockerfile to the correct location makes docker build correctly produce an image.

[2021-11-24 15:46] paulfantom commented on #144
Dup of https://github.com/parca-dev/parca-agent/issues/54?

[2021-11-24 15:50] lilic commented on #144
Technically that issue only mentions arm64, but I am fine by closing this if you don't mind changing your title maybe?

[2021-11-25 11:36] paulfantom commented on #144
Changed.

Side note: `arm64` is the same as `aarch64` :)

[2021-11-25 14:33] lilic commented on #144
Yes, I meant for other arch as well, hence multi-arch.

Thanks, closing this in favour of that then!

[2021-11-25 14:33] #144 closed

[2021-11-29 09:31] brancz opened #145 "Elixir/Erlang VM support"
The Erlang VM has support for perf maps via the `ERL_FLAGS="+S 1 +JPperf true"` flags. However, even when setting those flags, profiling an Erlang process does not consistently work (occasionally individual addresses are symbolized).

Working theory: Erlang has a multi-process model, which could be a problem in this case if a process is short-lived (in the sense that a profiling loop of 10 seconds

[2021-11-29 09:51] brancz opened #146 "Explain further what "Show Profile" does"
This feature originated from a debug mechanism for me to understand profiling data without a storage backend. It turns out people like this to understand what is going on under the hood, but for that, it is still quite raw of a feature and needs some more explanation (also why clicking show profiles can take up to 10 seconds to display anything). Beyond that, the actual showing of the profile coul

[2021-12-06 13:31] brancz commented on #142
Random thought: It would be incredibly useful if we could hook into the OOM-Killer and take a heap profile just before the process is killed.

[2021-12-08 14:14] brancz opened #161 ".NET support"
.NET (dotnet) support has been requested a number of times now.

It should already work with perf-map enabled: https://docs.microsoft.com/en-us/dotnet/core/run-time-config/debugging-profiling#write-perf-map

That said, it should also work automatically without any change to a user's deployment.

[2021-12-09 09:39] brancz commented on #1
Starting with the [`v0.3.0`](https://github.com/parca-dev/parca-agent/releases/tag/v0.3.0) release if the perf-map agent is used, then JVM can be profiled with parca-agent today!

[2021-12-13 18:53] derekparker commented on #74
Sent in https://github.com/aquasecurity/libbpfgo/pull/97 to support this.

[2021-12-15 07:57] brancz commented on #1
Looks like there is also some precedence of profilers at the intersection of eBPF and java, that some inspiration could come from: https://github.com/weixingsun/jBProF

[2021-12-21 08:12] #23 closed

[2021-12-21 19:07] derekparker opened #180 "metadata/discovery: Support hybrid cgroup v1/v2"
Currently parca-agent can support cgroup v1 and v2, however we don't have a great story around what happens in hybrid mode when both are mounted.

From our perspective we care mostly about the perf_events controller. In cgroup v2 this is always implicitly enabled, so we don't have to do anything special within the agent. With cgroup v1 we have to enable the controller manually in some instances an

[2021-12-21 22:22] derekparker commented on #74
Submitted https://github.com/aquasecurity/libbpfgo/pull/101 to improve error checking within libbpfgo which is necessary for our usage of these batch operations.

[2021-12-31 23:23] tonychoe opened #184 "Parca agent makes Oracle Kubernetes Engine worker nodes down"
The subject may sound weird, but that's what I have experienced. Hope you guys shed some light. :)

I started testing Parca in OKE (Oracle Kubernetes Engine) and found installing Parca agent made the worker node unresponsive to SSH and must be hard-rebooted. At first, I suspected the issue is with OKE or its underlying cloud infrastructure. But over time, I was able to isolate that this issue only

[2022-01-03 13:12] brancz commented on #184
cc @kakkoyun

[2022-01-03 13:15] kakkoyun commented on #184
xref: https://github.com/parca-dev/parca/issues/514

[2022-01-03 13:33] kakkoyun commented on #184
@tonychoe Thanks for reporting the issue. I'm looking into this.
I would be glad if you could share more information about your current setup.

Since the log is about an external program that we use to extract debug information on the host, have you seen any zombie processes before the node went down? It's just a wild guess, but we might be leaking file descriptors.

That being said, I'm looking i

[2022-01-03 17:45] derekparker commented on #74
This is currently blocked on a libbpfgo patch to improve error handling when calling into the libbpf C library.

See https://github.com/aquasecurity/libbpfgo/pull/100#issuecomment-1004202417 for a summary on my thoughts for error handling and look at comments from Grant on overall summary of where the patch is and the direction for it.

[2022-01-04 15:53] ordian opened #185 "parca-debug-info doesn't work with Rust binaries"
Steps to reproduce:
[code]

[2022-01-04 17:24] kakkoyun commented on #185
Thanks for the report. I'll look into it. It should be a small fix.

[2022-01-05 10:47] kakkoyun commented on #184
I haven't had a chance to replicate this. I would appreciate any additional information @tonychoe

[2022-01-05 15:26] kakkoyun commented on #185
`rustc` sets flags (e.g SHF_ALLOC) for `.debug_gdb_scripts` section. Which causes eu-strip/objcopy to refuse to remove that certain section.

`Name: .debug_gdb_scripts Size: 34 B Type: SHT_PROGBITS Flags: SHF_ALLOC+SHF_MERGE+SHF_STRINGS`

In #189 we check all the debug sections and only remove them if they do not have any bits. This clean up was introduced in https://github.com/parca-dev/parca-age

[2022-01-05 15:31] kakkoyun opened #190 "Add end-to-end tests for supported runtimes and compilers"
On second thought I think I might prefer a real e2e test where we add containers to a kubernetes cluster of all kinds of languages.

_Originally posted by @brancz in https://github.com/parca-dev/parca-agent/issues/189#issuecomment-1005806580_

[2022-01-05 16:48] kakkoyun commented on #96
We have contributing,md as stated above. And parca-agent won't work on mac os anyways (lack of cgroups). Closing for now.

[2022-01-05 16:48] #96 closed

[2022-01-05 16:50] mskarbek opened #192 "Multiple systemd units with the same name"
I have just started playing with `parca` and this is the first thing that came up. ;)

Use case - multiple containers with systemd inside:
Cgroup v2 structure:
[code]
Each of the containers runs systemd unit with the same name. Obviously, from the container perspective those are separate systemd instances, but from the host perspective when using single `parca-agent` there is a problem, I can't ju

[2022-01-05 17:22] kakkoyun commented on #192
@mskarbek Thanks for reaching out. Which version of parca-agent is this?

We recently fixed issues regarding cgroup v2, it's in the main branch but we haven't released it yet. https://github.com/parca-dev/parca-agent/pull/178

cc @derekparker

[2022-01-05 18:46] #185 closed

[2022-01-05 19:44] mskarbek commented on #192
@kakkoyun current main (d20ec7a) build locally on RHEL 8 and Fedora 34
RHEL 8:
* make-4.2.1-10.el8.x86_64
* gcc-8.5.0-4.el8_5.x86_64
* clang-12.0.1-4.module+el8.5.0+13246+cefb5d4c.x86_64
* llvm-12.0.1-2.module+el8.5.0+12488+254d2a07.x86_64
* coreutils-8.30-12.el8.x86_64
* binutils-2.30-108.el8_5.1.x86_64
* elfutils-0.185-1.el8.x86_64
* elfutils-devel-0.185-1.el8.x86_64
* zlib-devel-1.2.11-17.el8.x

[2022-01-05 20:01] mskarbek commented on #192
[code]
[code]
`fake-service` is a Go binary used for testing - https://github.com/nicholasjackson/fake-service
I have 5 podman containers on host, each with its own fake-service.servce systemd unit.

[2022-01-05 23:34] derekparker commented on #192
So as I understand it, this isn't an issue with cgroup v2 support but more an issue of using systemd within separate containers and then having parca-agent detect that cgroup fs hierarchy under the `/sys/fs/cgroup/machine.slice` prefix, correct?

Does supplying the `--systemd-cgroup-path=` parameter solve the issue? If so that may be the best solution for now. I think that running systemd within a

[2022-01-06 12:57] mskarbek commented on #192
As illustrated by the above debug logs, using `--systemd-cgroup-path=` does not help. In fact, it appears that that path is ignored by the agent completely.

[2022-01-06 16:37] derekparker commented on #192
Ah, well, yes... that's a problem! I can take a shot at wiring that parameter up and see if we can use it to solve your problem at least partially!

[2022-01-06 18:18] derekparker commented on #192
@mskarbek could you please test this patch https://github.com/parca-dev/parca-agent/pull/199 and let me know if it helps solve your problem?

[2022-01-06 18:40] #192 closed

[2022-01-06 23:56] mskarbek commented on #192
@derekparker current main (af1ca89) fails to build for me right now. I'll resume testing when this will be resolved.
[code]

[2022-01-07 08:46] kakkoyun commented on #184
@tonychoe We have a new release. I'd appreciate if you could give it a try https://github.com/parca-dev/parca-agent/releases/tag/v0.4.0

[2022-01-07 15:56] tonychoe commented on #184
@kakkoyun sorry I have been busy; will get back after trying v.04.0 and/or collecting any evidences.

[2022-01-07 16:37] derekparker commented on #192
@mskarbek hm, I'm having no problem building current main at the moment. Can you try clearing your module / build cache?

[2022-01-07 16:58] mskarbek commented on #192
@derekparker:
[code]

[2022-01-07 17:49] derekparker commented on #192
@mskarbek what version of Go are you using?

[2022-01-07 18:14] mskarbek commented on #192
@derekparker  `golang-1.16.12-1.module+el8.5.0+13637+960c7771.x86_64`

[2022-01-07 19:10] derekparker commented on #192
Ah, that's the issue. That dependency uses `IsExported` which was added in Go 1.17: https://pkg.go.dev/reflect#StructField.IsExported.

I'll update our `go.mod` to require Go 1.17.

[2022-01-07 20:25] mskarbek commented on #192
This will exclude RHEL 8 and essentially end my tests of `parca-agent` and parca in general, at least until RHEL 9 is released, which will ship Go 1.17. I need something that builds and can be packaged into RPM under RHEL 8.
I'll keep an eye on the project. ;)

[2022-01-07 20:33] mskarbek commented on #192
This will exclude building on RHEL 8 until 8.6 (May) is released, which is a little problematic. I'll try to work around that.

[2022-01-10 05:46] tonychoe commented on #184
@kakkoyun I did some tests today and here's the summary.

- Parca agent v0.4.0 didn't work.

- So, I've tested total three version of agent (0.4.0, 0.3.0, 0.1.0). All of them caused the K8S worker node unresponsive in a few minutes after deployment.

- The test was done on the K8S cluster built with Oracle Linux 7.9 and 8.4. Interestingly, the node w/ OL 8.4 was OK for two hours, so I was ex cited

[2022-01-10 07:54] kakkoyun commented on #184
Thanks for trying it out and detailed report.

It was a long shot anyway. I'll try to replicate your setup. I don't know what I don't know right now.

When you have time maybe you could add `--log-level="debug" ` flag and check if you see any suspicious log messages? That'd be great.

[2022-01-10 14:10] kakkoyun opened #203 "grpc: received message larger than max"
Opening this in here but this could be solved on the agent side as well. This is probably an overlooked side effect of Write Request batching on the agent side. https://github.com/parca-dev/parca-agent/pull/116 We probably need to communicate the max message size to the agent (with a flag or an exposed discovery API?)

I see another message now, a lot of them.
[code]

_Originally posted by @korjav

[2022-01-12 06:54] tonychoe commented on #184
@kakkoyun

Thank you. I've been using the debug mode but couldn't find some clues. All errors I got look normal  - the agent complained about not finding symbols, etc.

I've ran another test today.

(1) Installed Parca server/agent as binary (non-K8S) on Oracle Linux (OL) 8.4. I haven't find any issue in the past 6 hours.

     Note: I didn't test with OL 7.9 which uses older version of glibc than

[2022-01-12 08:00] kakkoyun commented on #184
Thanks for taking the time and investigate further @tonychoe.

I think something bloating the system and taking it down. The time it takes is related to the number of targets parca-agent attempts to profile.

I need to find a way to get my hands on an Oracle Linux based cluster to investigate further.

[2022-01-12 08:15] tonychoe commented on #184
That's a good theory. @kakkoyun

I was continuing the experiment (3). The app I was profiling moved to the surviving node. I could see profiling working with one app for an hour, then as of this writing, went unresponsive. So how long it takes varies.

[2022-01-13 05:26] tonychoe commented on #184
Experiment (1) - running parca agent/server on non-K8S, regular VM w/ OL 8.4 - went with zero issue almost 1 day.

Experiment (4) - started running parca agent/server on K8S, and agent is configured to **not** profile a thing  by using `--pod-label-selector` with bogus label. It's been running fine for 10 hours. No node went down.

So, yeah, looks like the issue only occurs when parca agent profil

[2022-01-13 07:46] kakkoyun opened #207 "Introduce a Go generator to create the C struct from the Go struct"
### ACs:

* Introduce a Go generator to create the C struct from the Go struct
* Generate boilerplate functions for Go to read and write the structs from byte blop

cc @derekparker

[2022-01-13 07:51] kakkoyun opened #208 "Introduce metrics for failed profile loops"
cc @derekparker

[2022-01-18 13:18] brancz commented on #90
Closed by https://github.com/parca-dev/parca-agent/pull/210

[2022-01-18 13:18] #90 closed

[2022-01-20 10:54] metalmatze opened #213 "failed iterator: no such file or directory"
Running parca-agent v0.4.1 on a [minikube cluster](https://github.com/parca-dev/parca-agent/blob/474ed1ca3d226e64e23fda00c01c8004a201da4f/scripts/local-dev.sh#L21-L28) results in getting the following error for all targets.
![Screenshot from 2022-01-20 11-25-47](https://user-images.githubusercontent.com/872251/150325127-d7cbc41f-75a9-40b3-aef1-1ce430a84bba.png)

I've reverted back to v0.4.0 and it

[2022-01-20 14:24] #213 closed

[2022-02-07 12:09] Sylfrena opened #235 "Make `tickerDuration` configurable"
Currently, the batcher write client lacks support for a user-configurable [ticker duration](https://github.com/parca-dev/parca-agent/blob/a9cc56cf0a58d846e7d2da717a0a1948c2cbf9a3/cmd/parca-agent/main.go#L138). Add a flag to enable users to set the duration as per their requirements.

[2022-02-09 07:38] brancz opened #236 "Allow running Parca Agent within user namespaces"
I'm not 100% sure whether this is even possible, but here it goes. Currently, we recommend using minikube for demo purposes, for various reasons people may prefer kind, k3d, or others, which may not use actual virtual machines, but rather linux user namespaces. The problem this causes is that even if we can load the eBPF program, from within the eBPF program we will see the true host/kernel view o

[2022-02-09 08:24] mhausenblas commented on #236
I'd be happy to take a look.

[2022-02-09 14:00] brancz commented on #236
Thanks @mhausenblas! Assigned you! 🎉

[2022-02-11 11:31] mhausenblas commented on #236
OK, quick status. I've been researching the issue, reading up on:

* https://rootlesscontaine.rs/how-it-works/userns/
*  https://www.man7.org/linux/man-pages/man5/subuid.5.html

My current thinking is if `/etc/subuid` is non-empty then I know that I have user namespaces and within a container it's empty. I verified my thinking with root and rootless containers and can confirm this.

[2022-02-15 11:26] mhausenblas opened #239 "Support I/O in generic profiles"
For a class of applications (such as databases) it is important to be able to profile I/O, including network and filesystem related data.

Hence, I'd like to propose to support I/O in [profiles](https://www.parca.dev/docs/symbolization#type-of-profiles) the Parca agent is able to [obtain](https://www.parca.dev/docs/parca-agent-design#obtaining-raw-data).

[2022-02-22 12:48] brancz opened #250 "One-off mode"
It would be really nice if parca-agent supported a one-off mode, similar to `perf` to profile CLI commands. I imagine the experience to be very similar to that of perf, but integrated with Parca APIs. Eg:

[code]

[2022-02-22 15:08] kakkoyun commented on #54
xref: https://github.com/parca-dev/parca/pull/559

[2022-02-23 11:00] kakkoyun opened #254 "Missing label target label"
I have a deployment.yaml as should below, and I'm not able to find the profiles on Parca UI with app="demo-nextjs" query.
<img width="438" alt="Screenshot_2022-02-22_at_4 44 28_PM" src="https://user-images.githubusercontent.com/536449/155306548-36fee3c5-6334-4913-9406-64e4a22482fc.png">
<img width="1578" alt="Screenshot_2022-02-23_at_10 40 37_AM" src="https://user-images.githubusercontent.com/5364

[2022-02-23 11:01] kakkoyun opened #255 "Duplicate metrics collector registration attempted"
[code]

cc @Sylfrena @metalmatze

[2022-02-23 14:10] metalmatze opened #256 "Cache debuginfo.Exists responses"
As far as I'm aware the requests send with `debuginfo.Exists` are to check if a binary symbol is already present on the Parca server side.
Given that the build IDs are pretty unique I propose to add caching on Parca agent's side to reduce the amount of Exists requests sent.

[2022-02-24 13:04] guettli opened #260 "Allow profiling of arbitrary processes"
Up to now you can either use "kubernetes" profiling or "systemd-unit".

For local testing I would like the agent to be more flexible.

I would like agent to attach to a pid (or a list of pids) or all processes with a particular name.

Does this make sense to you?

[2022-02-24 15:12] #255 closed

[2022-02-24 16:11] brancz commented on #260
I think this is kind of similar to https://github.com/parca-dev/parca-agent/issues/250, so yes I think this would be quite nice to have. We're still thinking about potentially changing the larger architecture of the parca agent potentially, to instead of creating a profiler per cgroup create a single profiler for the entire host. Not that that would conflict with this idea, but I want to have ment

[2022-02-25 10:49] brancz commented on #254
It just dawned on me, this is one of those features that we wanted to enable using relabeling. This actually turns out to be a feature that we haven't implemented/finished yet, not a bug.

[2022-03-01 12:27] metalmatze opened #263 "Logs are too verbose and should be warn"
[code]

This shouldn't be an `error` but at most a `warn` since Parca will continue.
If we can also manage to somehow remove the repetitiveness of the logs that'd be great. Once is enough. :grimacing:

[2022-03-01 13:27] brancz commented on #263
Correct me if I'm wrong, but I think in this instance it was actually a bug right? If that's the case then I think a spammy error message is not a big deal as it at least pointed at a legitimate bug.

[2022-03-01 14:43] metalmatze commented on #263
Yes, but I think the bug was already fixed, was it @kakkoyun? This was still happening on v0.8.1.

[2022-03-01 15:48] kakkoyun commented on #263
It supposed to be fixed. This might be something else. In any case, I would like to double-check everything and make sure to reduce noisy logs. At this stage, they are more harmful than helpful.

[2022-03-01 16:01] kakkoyun opened #264 "Failed to extract debug information"
Debug Extractor sometimes fail to extract debug information. The piped command-line program doesn't return an error, yet file is not created. Needs investigation.

[code]

[2022-03-02 13:21] #54 closed

[2022-03-02 18:58] #82 closed

[2022-03-02 21:33] xiu opened #268 "Incorrect cgrouppath for a pod"
# Environment
-  `parca-agent` `0.5.0`
- `kernel` `5.10.61`
- `kubernetes` `1.21` with both cgroupv1 and cgroupv2 mounted
- `containerd` `1.4.9`

# What's happening
When looking into a pod using parca, we noticed that multiple processes were shown in the profile that are unrelated to each other.

<img width="1797" alt="Screenshot 2022-03-02 at 15 56 57" src="https://user-images.githubusercontent.c

[2022-03-03 08:01] brancz commented on #268
Thank you so much for reporting this! Could you also share what container runtime is being used here?

[2022-03-03 08:20] xiu commented on #268
Absolutely, we're using `containerd` `1.4.9`

[2022-03-03 09:15] xiu commented on #268
I failed to mention that we're using openrc and not systemd on these workers. Looking into containerutils.GetCgroupPaths(), it seems that to match cgroupv1, we need to find `1:name=systemd:`, otherwise no cgroupv1 will be found.
https://github.com/parca-dev/parca-agent/blob/main/pkg/containerutils/containerutils.go#L117-L121

Here's is an example /proc/<pid>/cgroup in our case:
[code]

On a node w

[2022-03-03 09:22] #256 closed

[2022-03-03 09:45] xiu commented on #268
We ended up adding logic in GetCgroupPaths to handle this case:
[code]

This now returns the correct cgroup path for the pod. I'll push a PR once we tested it on the cluster.

[2022-03-03 13:16] #268 closed

[2022-03-03 14:58] kakkoyun commented on #264
Fixed by #252

[2022-03-03 14:58] #264 closed

[2022-03-03 15:00] kakkoyun commented on #208
@Sylfrena I think this is done, right? Or do you want to add more metrics?

In any case, could you add a link to PR?

[2022-03-03 15:02] kakkoyun opened #275 "Time-based invalidation of debug information caches"

[2022-03-03 15:03] kakkoyun commented on #190
Uitilize https://github.com/parca-dev/parca-demo

[2022-03-03 16:12] brancz commented on #275
Why time-based? I've always found size- or count-based to be more predictable for users in practice.

[2022-03-05 01:39] kakkoyun commented on #275
I should have more specific. I specifically meant debug info exists response cache. Now that we have another way to find debug information, it would be more correct to invalidate local cache.

[2022-03-07 08:24] brancz commented on #275
Ah, that makes perfect sense, yes! We probably have to also differentiate between the result of the response.

[2022-03-07 08:56] #208 closed

[2022-03-15 06:12] me-diru commented on #235
hey, this looks like a good task to get started on parca-agent, may I work on this? thank you!

[2022-03-15 07:44] kakkoyun commented on #235
@me-diru, Please go ahead :) and reach us on Discord if you have any questions.

[2022-03-15 17:20] kakkoyun opened #281 "Fix local debuginfo file discovery"
Distros may have different locations for debuginfo files

[2022-03-16 14:31] #275 closed

[2022-03-17 10:24] kakkoyun opened #286 "Utilize SamplingRatio flag"
It seems like we accidentally remove the ability to specify sampling ratio. Let's bring it back.

cc @Sylfrena @metalmatze

[2022-03-17 20:45] dnoland1 opened #290 "Getting "failed to check whether build ID symbol exists error" for parca-agent"
Deployed parca into my v1.21.9 cluster using:
[code]
No profiles are generated and parca-agent repeatedly has the errors:
[code]
The DNS name appears to work fine when using nslookup:
[code]

[2022-03-18 06:53] kakkoyun commented on #290
Hello @dnoland1, thanks for reporting the issue.

It seems odd. It looks like agent failed connecting to parca-server. Rather, I would say it has connected when it's started its lifecycle but failed to send data on later stages. Could you please share more information on your setup?

[2022-03-18 10:08] #281 closed

[2022-03-18 13:19] kakkoyun opened #292 "Extended Go inlined function support"

[2022-03-18 13:19] kakkoyun commented on #4
Done, except #292

[2022-03-18 13:19] #4 closed

[2022-03-18 13:26] kakkoyun opened #293 "Add eh_frame/debug_frame based stack unwinding"

[2022-03-18 17:11] kakkoyun opened #294 "Remove usage of deprecated APIs"
[code]

[2022-03-22 21:39] dnoland1 commented on #290
@kakkoyun I'm running a v1.21.9 RKE cluster on SLES 15 SP3 nodes on AWS. I've tried two other distributions - K3s and RKE2 and experienced the same problem. However, if I try Ubuntu 20.04.4, it works fine. So I suspect it's related to something in the OS. I'm using the public AMI `ami-064b1c0dca9a64b20` in us-west-2 which is a vanilla SLES. I've been discussing on discord as well.

[2022-03-23 06:37] kakkoyun commented on #290
@dnoland1 Thanks for the detailed information. I have also seen the discussions on the Discord. We'll look into it.

[2022-03-23 06:45] dnoland1 commented on #290
Thanks so much! If you need more information or anything I can do to help, please let me know.

[2022-03-25 08:50] #235 closed

[2022-03-28 08:23] kakkoyun commented on #190
cc @Sylfrena

[2022-03-28 08:45] #286 closed

[2022-03-28 09:22] brancz opened #317 "Basic e2e test setup"
We've had a couple of bugs by now that would have been caught by a simple e2e tests. The suggested setup for a test like this in CI:

* setup minikube
* setup parca
* setup parca-agent
* do a gRPC range query across all of time to ensure _some_ data is successfully returned

Once we have this setup we can extend it wit things like #190.

[2022-04-04 18:27] tonychoe commented on #184
Hi @kakkoyun

I tested the latest Parca agent in the same Kubernetes cluster. This time the nodes were alive more than a day over the weekend, but sadly this morning, I found the nodes became unresponsive. I found no clues and have no good idea how to debug this.

- parca server - v0.10.0
- parca agent - v0.7.0
- Oracle Linux 7.9
- Oracle Kubernetes Engine - 1.21.5

Oracle Cloud offers [30-day fre

[2022-04-05 07:28] kakkoyun commented on #294
Requires https://github.com/kubernetes/minikube/pull/12707 for testing (BTF is needed)

[2022-04-05 07:45] v-thakkar commented on #294
If nobody is working on this, I can take this issue.

[2022-04-05 07:47] kakkoyun commented on #184
@tonychoe Thanks for updating and terribly sorry that I haven't paid enough attention to this. But it's on my list, I'll get there soonish.

At least, we know that we kind of improved things between version. There must be a some sort of resource leak that causes saturation on the host.

[2022-04-05 07:49] kakkoyun commented on #294
Thanks @v-thakkar, that'd be great, actually!

[2022-04-06 21:55] tkcreddy opened #328 "parca-agent: /lib64/libc.so.6: version `GLIBC_2.28' not found (required by parca-agent)"
While starting up the parca-agent, we are getting this error. this is on Amazon Linux instance.

[2022-04-07 08:57] kakkoyun commented on #328
@tkcreddy Thanks for reaching out :+1:

Could you please describe your setup a little more? I assume you install `parca-agent` directly on Amazon Linux and use systemd to discover cgroups? Or this is a Kubernetes setup that uses Amazon Linux (which is more worrisome because I see that dependency presents in the container image)?

https://github.com/parca-dev/parca-agent/blob/bbafe10412a384b64d252f

[2022-04-07 15:05] SINGH-IOT2020 commented on #328
I am also getting the same error message while starting the parca-agent in amazon linux ec2 instance.
Details  are below 👎
parca-agent.service - Parca Agent
   Loaded: loaded (/etc/systemd/system/parca-agent.service; enabled; vendor preset: disabled)
   Active: activating (auto-restart) (Result: exit-code) since Thu 2022-04-07 14:59:16 UTC; 9s ago
  Process: 1460 ExecStart=/usr/bin/parca-agent --h

[2022-04-07 16:47] kakkoyun commented on #328
@SINGH-IOT2020 Could you try installing certain dependencies and try again? For a Debian based distro they look like below:
https://github.com/parca-dev/parca-agent/blob/bbafe10412a384b64d252f24fdec90d6e3a1e1e2/Dockerfile#L15-L18

[2022-04-07 17:22] kakkoyun opened #331 "Make sure github actions get triggered depending on correct context"
- jsonnet  => jsonnet action
- go => go related actions and container builds
- no container build action runs on documentation (or the files won't end up in the container)

[2022-04-07 23:23] SINGH-IOT2020 commented on #328
Hi, Thanks for response.
I install the dependency and still getting the same error message :
[root@ip-172-31-30-170 ec2-user]# yum install llvm binutils elfutils
Loaded plugins: extras_suggestions, langpacks, priorities, update-motd
amzn2-core                                                                      | 3.7 kB  00:00:00
Package binutils-2.29.1-31.amzn2.x86_64 already installed and latest

[2022-04-08 05:28] kakkoyun commented on #328
@SINGH-IOT2020 Sorry, I thought those dependencies include libc, could you please check if you have a variant of libc installed on the system?

[2022-04-08 05:52] kakkoyun opened #332 "Statically link or remove libc from binaries"
- To static link: `go build --ldflags '-linkmode external -extldflags "-static"` or `go build -ldflags="-extldflags=-static"`
- To (potentially) remove: `go build -tags netgo` `!! This might not be possible with CGO and this could change the behaviour of DNS resolution, so we should test it.`

ref:
https://ops.tips/notes/glibc-golang-learnings/
https://www.arp242.net/static-go.html

[2022-04-08 05:53] kakkoyun commented on #328
In any case, this is not the UX we would want to have for parca-agent, I've created an issue to solve this in the long run https://github.com/parca-dev/parca-agent/issues/332

[2022-04-11 08:00] v-thakkar opened #333 "Add documentation about eBPF and BTF support in different kernels"
eBPF was introduced in one of the 3.x kernel and BTF support was added in one of the 5.x version. Although a lot of these features have been backported in different mainline stable kernels as well as in distro-specific kernels. We should add documentation with some commands so that it's easier for users to identify if their host kernel has BPF and BTF support or not.

[2022-04-11 12:37] brancz commented on #333
Could we maybe even have the Parca Agent do a few tests on startup to identify whether the features it needs are available and error out with that exact feature if it isn't available?

[2022-04-11 15:05] brancz commented on #333
Agreed, definitely, both are important and useful!

[2022-04-12 07:16] v-thakkar opened #337 "profiler: Add kernel feature checks at the startup"
See https://github.com/parca-dev/parca-agent/issues/333#issuecomment-1094997990

### ACs:

* [ ] Check necessary Linux features[BPF, BTF] of the host
* [ ] Check if Kernel stack unwinding enabled or not https://github.com/torvalds/linux/blob/master/arch/x86/Kconfig.debug#L252

[2022-04-12 08:17] kakkoyun commented on #337
FYI https://github.com/parca-dev/parca-agent/issues/333#issuecomment-1096331904

[2022-04-12 11:47] kakkoyun commented on #333
Yep, sounds good. If you want to handle that, please go ahead. Otherwise, I can handle it.

[2022-04-12 12:04] v-thakkar commented on #333
Sure, I can take care of it.

[2022-04-12 18:51] tonychoe commented on #184
This is the warning message I often see.

[code]

It's weird. parca-agent mounted /tmp volume as empty-dir successfully yet it complains.

It complains that it can't remove <longnumber>.stripped file due to the "read-only file system".

I can see the file in the K8S node's filesystem but in the different name <longname>.debuginfo.stripped

[code]

[2022-04-13 05:25] kakkoyun commented on #184
@tonychoe Thanks for detailed logs. This is something I can work with. I'll find a solution for this.

Yet, I don't think this could bring down the nodes. This is something else, and I believe I've introduced it with the latest version. I'm going to create another issue for it.

[2022-04-13 05:27] kakkoyun opened #338 "debuginfo: Interim file read failures"
This is the test i did after my previous post:
(1) Ran parca-agent to profiling just one microservice, went fine for the past 7 days
(2) Last night, removed the label selector from parca-agent to profile all microservices running in the K8S (OKE) cluster. All nodes went unresponsive in an hour.

Here's the parca-agent logs in "error" level, de-duplicated by signature. They were generated after I s

[2022-04-13 05:27] kakkoyun opened #339 "debuginfo: Interim file clean up failures"
@kakkoyun This is the warning message I often see.

[code]

It's weird. parca-agent mounted /tmp volume as empty-dir successfully yet it complains.

It complains that it can't remove `longnumber.stripped` file due to the "read-only file system" (??).

I can see the file in the K8S node's filesystem but in the different name `longname.debuginfo.stripped`

Any idea why this error is occurring?

[cod

[2022-04-13 17:14] kakkoyun opened #350 "Add and configure tracee to our local setup for debugging"
https://github.com/aquasecurity/tracee

[2022-04-14 13:13] #263 closed

[2022-04-19 18:12] v-thakkar commented on #337
Oh nice, feature probes looks neat in that package.

[2022-04-20 12:36] kakkoyun opened #356 "profiler: Remove unique label values from the metrics"
`parca_agent_profiler_failed_stack_unwinding_attempts_total{target="{__cgroup_path__=\"/sys/fs/cgroup/perf_event/kubepods.slice/kubepods-besteffort.slice/kubepods-besteffort-pod2ef4eceb_afe7_4f19_ab76_1458216087eb.slice/docker-ff7933c90e305fe74a5ebc5ef0e6c2e3dd71250d3e022c7af9714a215977e7ea.scope\", addonmanager_kubernetes_io_mode=\"Reconcile\", container=\"storage-provisioner\", containerid=\"doc

[2022-04-20 14:26] javierhonduco opened #359 "profiler: Verify that stacktrace addresses are correct"
It's possible that walking the stack using the frame pointer results in completely bogus frame addresses but the kernel won't return an error. Let's ensure that the frame addresses are within expected ranges.

See https://github.com/parca-dev/parca-agent/pull/354

[2022-04-20 19:59] guettli commented on #2
Maybe this will helps you to implement profiling for Python: https://github.com/bloomberg/memray

[2022-04-21 11:45] kakkoyun commented on #350
https://github.com/aquasecurity/tracee/blob/main/docs/tutorials/setup-development-machine-with-vagrant.md

https://github.com/aquasecurity/tracee/blob/main/docs/install/kubernetes.md

https://github.com/aquasecurity/postee

[2022-04-21 14:27] javierhonduco opened #368 "Build with sanitizers"
As we use some C library wrappers and Golang can't prove the lifetime of objects at compile-time, it's possible that `parca-agent` is not memory safe.

It's very important that we have as many safeguards as possible as we run in privileged mode which we need to interact with the BPF subsystem.

Let's add memory sanitisers to `parca-agent`!

- [ ] We can first start with dev builds with ASAN (will

[2022-04-21 14:29] javierhonduco commented on #368
Trying now with

[code]

Reports:
[code]

This is likely the error we saw in https://github.com/parca-dev/parca-agent/pull/367. I should have started with enabling sanitisers 😁

[2022-04-25 06:02] v-thakkar commented on #337
Libbpfgo has all the helpers we need for this (and more) :) https://github.com/aquasecurity/libbpfgo/tree/64458ba5a32013dda2d4f88838dde8456922333d/helpers
https://github.com/aquasecurity/libbpfgo/blob/64458ba5a32013dda2d4f88838dde8456922333d/docs/helpers.md

[2022-04-25 17:17] #339 closed

[2022-04-25 17:19] kakkoyun commented on #338
@javierhonduco This is also related to #373. Could you also check if the PR fixes this one?

cc @v-thakkar

[2022-04-25 21:08] mkuratczyk commented on #145
It took me some time to get to this but it seems like Erlang support works just fine now. :)

All that's needed is `+JPperf map` in Erlang flags. [Documentation](https://www.erlang.org/doc/apps/erts/beamasm#linux-perf-support) suggests setting it to `true`, which also works. The difference is that when set to `true`, Erlang generates the mappings in two formats I mentioned above - setting it to `m

[2022-04-26 12:24] brancz opened #375 "Set duration to real measurement"
The duration in a pprof profile is supposed to be the real duration, instead of the intended duration, so parca-agent should be setting the duration that capturing the profile actually took instead of the configured interval.

https://github.com/parca-dev/parca-agent/blob/80e9cb0df9ae987900b85f8e41150af7ade275cb/pkg/profiler/profiler.go#L556

[2022-04-27 17:41] javierhonduco commented on #338
@kakkoyun yes, seems that this issue should be fixed :). As we discussed, let's notify the OP when we release a new version to see if it's fully resolved for them

[2022-04-28 12:48] brancz commented on #145
That is amazing!!!

[2022-04-29 09:45] brancz opened #380 "Filter out frames that don't belong to any mapping"
Maybe this is something we should only do when stack unwinding works, but the addresses that are outside of any mapping have no chance of ever being symbolized, so either we set them to `<unknown>` or we remove them entirely. The only thing I slightly worry about is whether we might need any of that data with interpreted languages (maybe @javierhonduco can weigh in).

Right now it just looks confu

[2022-05-03 07:42] javierhonduco commented on #380
@brancz I think it makes sense to remove these if the memory is completely unmapped. Semi-related issue: https://github.com/parca-dev/parca-agent/issues/359

[2022-05-03 08:45] kakkoyun commented on #380
I want to make sure we cover all the ground for unmapped memory issues first. Why this actually happens? Stack unwinding an issue we know that causes this, are there any plausible theory what might cause receiving unmapped addresses?

[2022-05-05 08:42] v-thakkar opened #388 "Auto-bump RLIMIT_MEMLOCK via libbpf"
We are currently using our own implementation in the profiler. But with [libbpf 1.0 ](https://git.kernel.org/pub/scm/linux/kernel/git/bpf/bpf-next.git/commit/?id=e542f2c4cd16)it should be possible for libbpf to do conditional adjustments automatically. This should probably be done in [libbpfgo ](https://github.com/aquasecurity/libbpfgo/issues/102)first though.

[2022-05-05 11:42] kakkoyun opened #390 "profiler: Cache seen stack trace ids in user-space"
After we read stack ids from the BPF maps in each profile loop iteration, we clean the whole map. This might have unwanted consequences, such as stack id misses even though we have seen that stack id in previous iterations.

To ensure the soundness of stack resolution, we should record the seen ids for the session and check ids against it if it's not found in the BPF map.

[2022-05-05 13:57] kakkoyun opened #393 "optimization: Optimization after v0.8.0"
This is how it looks after running the agent for 3 hours. I have added an interactive profile version and possible optimization areas with screenshots.

If anyone is interested, optimization games for parca-agent begins :stuck_out_tongue:

Interactive version: https://share.polarsignals.com/8836b8d/

* Write Profile:
![Thu May  5 03:47:22 PM CEST 2022](https://user-images.githubusercontent.com/536

[2022-05-05 15:48] kakkoyun commented on #393
Related #391

kysm is not the biggest bottleneck we have right now.

cc @javierhonduco

[2022-05-05 16:05] javierhonduco commented on #393
Thanks for doing this!

The unknown frames seem odd, let's investigate what it is and why it can't symbolise
<img width="1461" alt="image" src="https://user-images.githubusercontent.com/959128/166965120-f31feae1-b788-40e6-b28a-8c54907a16d8.png">

[2022-05-08 18:09] brancz opened #397 "Separate out debuginfo cli"
While it’s great that we release the parca debuginfo cli already together with the parca agent it has been confusing and unnecessary to force users to download the agent with it (plus it means we’re not building it for some platforms).

I propose we should separate it into a new repo and release it separately.

[2022-05-12 09:07] javierhonduco opened #400 "chore: Rename SystemD discovery to Cgroups"
The current SystemD discovery mechanism in reality works on bare Cgroups. The name can be confusing, and I believe it's not accurate. Please correct me if I'm wrong :)

- [x] Add renamed flags, without removing the new ones. Mark the old ones as deprecated, and update the README (https://github.com/parca-dev/parca-agent/pull/401)
- [ ] Update the names in `pkg/discovery`
- [ ] Update the separate

[2022-05-12 22:57] #332 closed

[2022-05-13 09:42] kakkoyun commented on #328
Closed with #351

[2022-05-13 09:42] #328 closed

[2022-05-13 09:43] kakkoyun commented on #338
Fixed by https://github.com/parca-dev/parca-agent/pull/373

[2022-05-13 09:43] #338 closed

[2022-05-13 17:48] kakkoyun opened #406 "Document release process"
- Add a RELEASE.md
- Test release candidates on https://demo.parca.dev

[2022-05-22 20:26] onprem opened #416 "Errors on default installation on Linode managed Kubernetes (K8s version 1.23)"
I was going through the [getting started on Kubernetes guide](https://www.parca.dev/docs/kubernetes) for getting a Parca install up and running on managed Kubernetes by Linode, but `parca-agent` didn't scrape any profiles and I got these errors in the logs.

[code]

Upon looking in the `/sys/fs/cgroup` directory, I didn't find the `perf_event` controller there.

[code]

I confirmed that both cgrou

[2022-05-23 09:59] brancz commented on #416
Marking this as an enhancement as I think the parca-agent should setup the perf events controller if it's not already there. Thank you so much for opening this and all of the details! 🎉

[2022-05-23 16:46] samueltorres opened #418 "Arm64 images not being published to ghcr"
I was trying to try out parca-agent on a kind cluster in my Mac M1, unfortunately I couldn't pull the Arm64 image because it doesn't seem to be published.

See https://github.com/parca-dev/parca-agent/pkgs/container/parca-agent/22746026?tag=main-8238b7b2 for reference.

[code]

Should it already be published by the podman integration ? or is anything missing in parca CI ?

Thanks for this great pr

[2022-05-23 17:57] brancz commented on #418
I think https://github.com/parca-dev/parca-agent/pull/415 should fix this.

[2022-05-24 07:03] brancz commented on #418
@kakkoyun can answer that best, but I’d be happy to just cut one to see if this is fixed.

[2022-05-24 07:07] kakkoyun commented on #418
We have still CI build issues for arm64. I hope to fix them soon. Give us a couple of days, we're still recovering from KubeCon 😅

cc @v-thakkar

[2022-05-25 15:21] brancz commented on #418
I _think_ https://github.com/parca-dev/parca-agent/pull/419 should do the trick

[2022-05-25 20:52] tonychoe commented on #184
@kakkoyun I've tested the agent v0.8.0 and unfortunately the issue is still there - the K8S nodes went unresponsive quickly.

[2022-05-26 10:25] javierhonduco opened #420 "symbolizer: In some occasions we are uploading broken debug files"
Seems like some of the debug files we are uploading to Parca are either empty or wrong. Opening this issue so I don't forget to take a closer look at it.

[2022-05-26 10:36] javierhonduco opened #421 "client: RPC message too big"
Just so I don't forget to look into this. I've occasionally stumbled upon this error

[2022-05-30 09:45] kakkoyun commented on #421
Possible duplicate https://github.com/parca-dev/parca-agent/issues/203

[2022-05-30 09:50] kakkoyun commented on #420
Probably better to move this issue to the server-side. It seems like we send badly formated files to the server-side.

[2022-05-30 09:51] kakkoyun commented on #418
@v-thakkar is working on this.

[2022-05-30 12:35] v-thakkar commented on #317
One more thing to check:

- Pinned rust-nightly works on both x86 and arm64

[2022-05-30 12:58] brancz commented on #317
(note I think that's a follow up, but one that depends on e2e tests being in place)

[2022-05-30 15:26] javierhonduco commented on #420
Let me open another issue in the backend, as I don't think we should be sending nor accepting broken debug files

[2022-05-31 08:01] brancz commented on #420
Agreed, the server should validate, but the client shouldn't even attempt to upload faulty data.

[2022-05-31 08:08] brancz commented on #203
Ultimately though, I think we should stream the data, but that we should only do once we truly implement our own protocol/format.

[2022-06-02 00:19] jcr179 commented on #184
@kakkoyun Hello, I was able to replicate @tonychoe's issue here.

**Environment**:
Oracle Kubernetes Engine
Cluster uses Kubernetes v1.23.4
Image: Oracle-Linux-8.5-2022.04.26-0-OKE-1.23.4-250
VM shape: 8 CPUs, 128 GB
Parca server [v0.11.1](https://github.com/parca-dev/parca/releases/download/v0.11.1/kubernetes-manifest.yaml)
Parca agent [v0.8.1](https://github.com/parca-dev/parca-agent/releases/do

[2022-06-02 07:06] kakkoyun commented on #184
We're working on stability improvements, and this is at the top of our list. @jcr179 @tonychoe Thanks for the amazing reports. And I'm terribly sorry that I still couldn't get to this (company off-site and kubecon, it was hectic).

When I check the logs, I see many DNS failures and many errors about retrieving the kernel stack. We need to check both and understand what's different with the Oracle

[2022-06-03 21:36] jcr179 commented on #184
Hi @kakkoyun , I spent some more time working on this and came up with some more data points that might help us out.

Some key observations to corroborate @tonychoe's findings:

(using the same environment as in my first comment:
Oracle Kubernetes Engine
Cluster uses Kubernetes v1.23.4
Image: Oracle-Linux-8.5-2022.04.26-0-OKE-1.23.4-250
VM shape: 8 CPUs, 128 GB
Parca server [v0.11.1](https://githu

[2022-06-07 08:18] brancz commented on #184
This is the most interesting bit I believe.

cc @kakkoyun @javierhonduco this makes me think that this has something to do with object file extraction or upload (it's also possible that sending the raw data might be the culprit, but I'd be more surprised if it was that)

[2022-06-08 06:23] #375 closed

[2022-06-08 08:23] javierhonduco opened #439 "stack quality:"
(Opening in `parca-agent` but this issue might be on `parca`)

I noticed that some Kernel stacks aren't correct with the current master of both `parca` and `parca-agent`. The test program and correct result that we used to get can be found in this PR (https://github.com/parca-dev/parca-agent/pull/395).

Note the Kernel stack for the `open()` codepath which is not in the right merged stacktrace:

<

[2022-06-08 08:42] kakkoyun opened #441 "write client/debuginfo client: Check whether target server reachable or not"
If the server is not reachable, stop debug information extraction and attempt to write profiles to the server. Only collect profiles so that they can be downloaded from agent UI.

* Heartbeat calls to server gRPC health endpoints
* Back-off retries

[2022-06-08 09:01] kakkoyun opened #442 "chore: Create a runbook for troubleshooting agent issues"
e. g: Check Kernel stack capabilities

`sudo bpftrace -e 'profile:ms:20 { @[kstack] = count(); } interval:s:5 { exit(); }'`

cc @javierhonduco @v-thakkar @brancz

[2022-06-08 09:03] kakkoyun opened #443 "Add a sub-command to check capabilities or issues of the host"
e.g. `parca-agent doctor`

cc @javierhonduco @v-thakkar @Sylfrena

[2022-06-08 10:05] metalmatze commented on #442
Can we somehow run these test in two different modes?

1. Run these tests when starting the agent
1. Have a CLI command to one off run the same tests if someone wants to run them once (debug container or in a Kubernetes job etc)

[2022-06-08 10:15] kakkoyun commented on #442
Yes, definitely. We have another issue concerning start-up checks. #337
The CLI commands are meant to help users with additional links and guidance.

[2022-06-08 10:24] javierhonduco commented on #439
After some debugging, I think that this could potentially be a hardware issue. I am hesitant to think that this is the case, as blaming hardware should only be the last resort, but I don't have any other explanations so far. Bisecting `parca` and `parca-agent` did not help, even when running the well-known versions in the PR mentioned above.

As the results did not make sense, I manually bisected

[2022-06-08 11:49] javierhonduco commented on #439
Unwinding the stack with DWARF instead of frame pointers (`perf`'s default) works fine. As one would expect, this is most likely not a hardware bug 😄.

As @brancz pointed out, there's probably something off with the frame pointers in some of libc's frames that preventing the right stack walking.

[code]
<img width="1196" alt="image" src="https://user-images.githubusercontent.com/959128/172608502-5

[2022-06-08 14:54] javierhonduco opened #445 "Add race detector"
I am not sure if [Golang's race detector](https://go.dev/doc/articles/race_detector) would have caught https://github.com/parca-dev/parca-agent/pull/444, I will try in 2 weeks, but I think we should enable it in dev and test:
- [ ] Add a flag to enable the race detector in developement (similar to https://github.com/parca-dev/parca-agent/pull/370)
- [ ] Run tests and integration tests with the rac

[2022-06-08 14:55] javierhonduco opened #446 "Ensure we don't upload broken debug files"
Add the necessary checks after finding or extracting the debug info files to make sure that they are not totally broken

Related issue: https://github.com/parca-dev/parca-agent/issues/420

[2022-06-08 15:12] javierhonduco commented on #441
Love that we are thinking about this!! Should we maybe continue extracting the debug files for a little while and then attempt to upload them later on if the server becomes reachable?

[2022-06-08 16:07] brancz commented on #439
When using dwarf to unwind it doesn't use frame pointers at all, it uses unwind tables (`.eh_frame` etc.) is my understanding.

[2022-06-08 18:56] brancz commented on #439
Gotcha.

[2022-06-09 06:51] kakkoyun opened #449 "chore: Ensure LLVM installs are reproducible"
cc @v-thakkar

[2022-06-09 06:53] kakkoyun commented on #441
We can keep them locally, and if they exist, we make sure we don't try extracting again for that specific binary. However, this still means we need to read the build ID constantly. We should measure the overhead of this.

[2022-06-09 06:56] v-thakkar commented on #449
Also, we should keep the in-repo version of https://sh.rustup.rs as this script can change too.

[2022-06-09 07:11] #420 closed

[2022-06-14 15:01] v-thakkar opened #459 "ci: Cargo takes too long to fetch crates"
At the moment Cargo takes too long for fetching the dependency crates and have to try multiple times. Ideally our CI should be able to handle fetching the crates in first tries. Opening this so that I don't forget to take a look at it later. This is more of an enhancement.

[2022-06-14 16:48] importhuman commented on #331
Hey @kakkoyun, can I pick this up? Also, any suggestions to try this locally instead of pushing commits to ensure it works?

[2022-06-14 17:00] kakkoyun opened #460 "chore: Reduce the time spent in CI checks"
Similar to https://github.com/parca-dev/parca/issues/1152, we could reduce the time we spent in CI.

We should cross-build the binaries and copy them to the containers. We have already reduced the external dependencies to zero and statically linked the binaries.

The only challenge I foresee is to be able to cross-compile libbpf with CGO.

Keep in mind that we can't break the reproducible build gu

[2022-06-15 06:52] v-thakkar opened #462 "chore: Improve container build script"
At the moment container build script doesn't fail when arm64 build fails to pass. We should add a check there so that we can continue to have arm images.

[2022-06-15 07:05] v-thakkar opened #463 "More e2e tests"
Let's use this issue to keep track of things we want to add in e2e tests once basic support is merged.
- [ ] Add memory sanitizers (see #368)
- [ ] Checks for pinned rust nightly and pinned Aya commit
- [ ] Add golang's race detector (see #445)

[2022-06-15 07:17] #317 closed

[2022-06-15 07:21] kakkoyun commented on #462
I thought this PR https://github.com/parca-dev/parca-agent/pull/440 should have fixed it, hasn't it?

[2022-06-15 07:22] #449 closed

[2022-06-15 09:18] v-thakkar commented on #462
That fix only seems to be helping with it partially. This is why I had to check manually even though. Until yesterday's fix arm build was failing with below error in CI but all checks were showing green for the PRs sent between these fixes:

[code]
Also, I was only able to reproduce above error with `docker buildx build --platform linux/arm64` on amd64 machine and not with `make container` for som

[2022-06-15 11:56] myaser commented on #416
thank you for raising the issue and finding the workaround. I was running through the same problem

[2022-06-15 19:12] maxbrunet commented on #462
Found the issue, there is a `+` instead `-` which turn off the flags:

https://github.com/parca-dev/parca-agent/blob/3d97faa55e2532dc37e5b3ba5a3f2f2f49fd8439/make-containers.sh#L2

Going open a PR with the fix and a thorough linting of the container build

[2022-06-15 19:23] v-thakkar commented on #462
Oops, yes. You're right! :see_no_evil:

[2022-06-15 19:27] v-thakkar commented on #462
I think parca has a similar script too. If you fancy sending a PR there as well @maxbrunet. Thanks :)

[2022-06-15 21:54] maxbrunet commented on #462
I'll have a look once #465 is reviewed and merged :+1:

[2022-06-16 06:11] kakkoyun opened #466 "ci/staticcheck: Add shell scripts linters to CI"
We should definitely add these checks both in parca and parca-agent!

_Originally posted by @kakkoyun in https://github.com/parca-dev/parca-agent/issues/465#issuecomment-1157271684_

cc @maxbrunet

[2022-06-16 06:14] #462 closed

[2022-06-16 15:46] maxbrunet commented on #460
Talked about in https://github.com/parca-dev/parca-agent/pull/465#discussion_r898725845, we can run multi-stage container build with different architecture with Buildkit:
https://www.docker.com/blog/faster-multi-platform-builds-dockerfile-cross-compilation-guide/

Here is a short example (Docker Buildx is used there): https://github.com/maxbrunet/prometheus-elasticache-sd/blob/v1.0.41/Dockerfile

[2022-06-16 16:42] maxbrunet commented on #460
Made a test, all ARGs are available with Podman:

<details>
<summary><code>Dockerfile</code></summary>

[code]

</details>

[code]

It warns about `--build-arg` being missing, but it's all good. And `--platform` needs to be used, instead of `--arch`.

[2022-06-17 06:24] kakkoyun opened #469 "chore: Use Renovate where Dependabot falls short"
You can find examples of how I use it in my personal repos:
https://github.com/maxbrunet/bitbucket-semantic-pull-requests
https://github.com/maxbrunet/prometheus-elasticache-sd

They maintain themselves

_Originally posted by @maxbrunet in https://github.com/parca-dev/parca-agent/issues/465#issuecomment-1157821734_

[2022-06-18 08:49] purkhusid opened #475 "Agent fails to read Rust symbols"
I was looking into using Parca to profile a Rust binary but it fails to read the symbols from the binary.
I have verified that the binary does include the symbols.

The error I receive in the agent is:
[code]

Compilation OS: Fedora 35
Agent deployed on k8s cluster running Debian hosts
Rust version: 1.61.0

[2022-06-20 07:06] kakkoyun commented on #475
@purkhusid Thanks a lot for reporting. We might have broken the compatibility. I'll check it.

If it helps your onboarding, we have an example for Rust https://github.com/parca-dev/parca-demo/blob/main/rust

[2022-06-20 09:47] purkhusid commented on #475
@kakkoyun My binary is compiled using the same flags as in the example. The only difference is that it's edition 2021 instead of 2018.

[2022-06-20 09:57] purkhusid commented on #475
I tried rolling the agent back to v0.0.7 but it has the same issue

[2022-06-20 10:06] kakkoyun commented on #475
Ok, thanks a lot for trying it out with the older version. I'll make sure we fix this issue before releasing the next version (which we were planning to do today).

[2022-06-20 11:53] kakkoyun commented on #10
Check if this could be handled using Renovate.

(Lazily pinging you) @maxbrunet any ideas?

[2022-06-20 11:55] kakkoyun commented on #418
This is fixed by #458. With the next major release, the images will be there.

[2022-06-20 11:55] #418 closed

[2022-06-20 12:18] v-thakkar commented on #337
JFYI, we're working on having our in-house kconfig package for the checks.

[2022-06-20 12:28] kakkoyun opened #483 "ci/tests: Add end to end tests to CI/CD"

[2022-06-20 14:21] kakkoyun commented on #337
Sorry for the noise on this issue. Apparently, the new projects feature does weird thing on issues :sweat_smile:

[2022-06-20 21:51] maxbrunet commented on #460
The only thing left seems to be figuring out how to pass `clang`'s `--target` arg down the Makefile chain to build bpf. I'll look into it and open a PR

[2022-06-21 05:03] kakkoyun commented on #460
FWIW `clang` isn't used to build BPF programs anymore. We only use it to build `libbpf` which is necessary for `libbpf-go` that we use in the user space.

If it's easier, we can check out how to efficiently cross-compile CGO programs and we can copy binaries into the containers.

[2022-06-21 05:04] kakkoyun commented on #460
And @maxbrunet needless to say, amazing job!! I'm grateful that you're taking care of this!

[2022-06-21 05:14] kakkoyun commented on #10
Awesome :+1: I'll give attention to Renovate soon.

We need to check which version our changes going to end up. Any ideas @v-thakkar?

[2022-06-21 05:28] maxbrunet commented on #460
I know the BPF program is built by the `xtask`, but isn't libbpf built with `clang` here?:

https://github.com/parca-dev/parca-agent/blob/05617ec399184c5825cdbcd99eacfa63fd6ae73a/Makefile#L115-L116

[2022-06-21 05:39] kakkoyun commented on #460
Yes, exactly. I was just being pedantic for other readers to point out that's exactly needed for `libbpf` :)

[2022-06-21 06:04] renovate[bot] opened #489 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] fix(deps): update golang.org/x/sys digest to 4f61da8
 - [ ] fix(deps): update module github.com/stretchr/testify to v1.7.4
 - [ ] chore(d

[2022-06-21 06:43] kakkoyun opened #490 "build: Pin all possible dependencies to immutable commits"
I don't know how nit-picky we should be with these. Git tags (GitHub releases) are mutable. In theory, this could break reproducible builds. We should pin everything in an immutable way if it's possible.

_Originally posted by @kakkoyun in https://github.com/parca-dev/parca-agent/pull/485#discussion_r902194596_

[2022-06-21 08:49] javierhonduco commented on #446
@metalmatze, saw your PR in https://github.com/parca-dev/parca/pull/1150. That should address already uploaded broken files, thanks for doing this!!

Hopefully between this and the other fixes to prevent the issue from happening (https://github.com/parca-dev/parca-agent/pull/444 and the https://github.com/parca-dev/parca/pull/1136) we should be able to eliminate these issues.

Going to leave this

[2022-06-21 08:50] v-thakkar commented on #10
Which changes do you mean @kakkoyun ? If you meant llvm-sys ones then it is not part of Rust nightly so we'll just pin the new version of llvm-sys in bpf-linker and Aya.

We can't use Rust stable yet because the bpf-architecture target is not available in stable. (I don't know when that will be, just asked in Aya's discord as I couldn't find any GH issue to track that). So we should automate pinni

[2022-06-21 10:21] kakkoyun commented on #397
Or we can directly embed it in the `parca-agent` as a sub-command, e.g. `parca-agent debuginfo buildid PATH_TO_BINARY`. What do you think?

[2022-06-21 10:47] #406 closed

[2022-06-21 11:09] kakkoyun opened #496 "chore: Use distroless base images"
https://github.com/GoogleContainerTools/distroless/blob/main/base/README.md

We can use distroless images as base and we can simplify our build docker build stages. What do you think?

For the ones who don't have context, in practice, we can remove the following and their dependencies from our docker builds:
 https://github.com/parca-dev/parca-agent/blob/ba3b7410f79a7820c58b9b66c200a5bbe82474b5/Do

[2022-06-21 11:10] brancz commented on #397
I don't know, that strikes me as odd that people need to download the agent to upload debuginfos. I think a separate repo and a separate (fully statically linked; all go) binary would be better.

[2022-06-21 11:10] purkhusid commented on #475
@kakkoyun I think I figured out  why this is not working for me. I'm building the binary using Bazel and rules_rust(https://github.com/bazelbuild/rules_rust). My guess is that the build ID is not added to the binary because it's not a reproducible action.

If I run `debug-inf buildid binary` then I only get:
[code]
I'm not too familiar with the significance of the build ID and if it makes sense to

[2022-06-21 11:13] brancz commented on #496
sounds good to me

[2022-06-21 11:16] brancz commented on #475
This strikes me as odd, build-ids can be deterministic, the build tool can decide it, it's just opaque bytes. If the binary is reproducible, then the build-id may just as well be. It's only a problem when the binary itself is not byte-by-byte reproducible because that could mean that the debuginfos are different for each build (at which point calling it "reproducible" is arguably false).

I'm not

[2022-06-21 11:17] kakkoyun commented on #475
We use build-id heavily to uniquely identify the object files in our system. It's the key for storing debug information, mapping, etc. However, we should be able to fall back on generating a hash from the `.text` section to identify these binaries distinctly. The output shows me that we failed to even that.

How easy for you to provide a dummy (like a hello world program) executable from this part

[2022-06-21 11:18] kakkoyun commented on #397
Fair point.

[2022-06-21 11:53] kakkoyun commented on #475
Using the tip of the main and the given example the build-id extraction works:

[code]

This could be fixed on the main. However, there are other issues on the main. Currently, I'm trying to fix those. I'm planning to cut a release candidate as soon as they're fixed. I'll let you know when I have a release candidate, and maybe you will give it another shot.

[2022-06-21 11:58] purkhusid commented on #475
Awesome! I'll test it once you have a release cut.

[2022-06-21 22:31] maxbrunet commented on #10
Debian snapshots happens at random times: https://snapshot.debian.org/archive/debian/?year=2022&month=6

A date datasource would not be able to help, we would need a dedicated datasource to get the list of snapshots

[2022-06-23 06:16] renovate[bot] opened #505 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `(^|/)\go.mod$`
Error type: Invalid regular expression: (^|/)\go.mod$

[2022-06-23 06:23] kakkoyun commented on #505
@maxbrunet leaving this to you to decipher :)

[2022-06-23 06:24] #445 closed

[2022-06-23 14:23] javierhonduco opened #506 "local-development: BPF code isn't rebuilt when running `make build-dyn`"
Unfortunately `make build-dyn` doesn't rebuild the BPF code `make build` seems to work, but I haven't fully verified this

[2022-06-23 15:41] kakkoyun opened #508 "debuginfo: Make sure all the needed DWARF5 sections send to server"
xref: https://github.com/parca-dev/parca/issues/1186

[2022-06-23 21:01] maxbrunet opened #509 "ci: Require status checks before merging"
Renovate has been able to auto-merge PR #502 which was failing the CI, it may the reason why `main` is failing now, checks should be required in the branch protection rule:

https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches#require-status-checks-before-merging

Repository administrator will

[2022-06-27 06:21] kakkoyun commented on #509
![Mon Jun 27 08:19:32 AM CEST 2022](https://user-images.githubusercontent.com/536449/175872581-ea1255df-0bd6-4902-904a-75842d03a80a.png)

I have enabled the strict mode for the checks.

[2022-06-27 06:21] #509 closed

[2022-06-27 06:44] #505 closed

[2022-06-27 18:40] maxbrunet commented on #469
Done in #484

[2022-06-28 06:01] #469 closed

[2022-06-28 17:21] kakkoyun opened #518 "chore: CI fails to build container (OOM Kill)"
[code]

[2022-06-28 17:22] kakkoyun opened #519 "chore: Release ARM64 binaries"

[2022-06-28 17:24] kakkoyun opened #520 "bpf: Make sure there is no concurrent access issue with CPU profiler"
By migrating to Rust, we might introduce a regression for atomic counters.
The easier way to fix the issue is to use pre-CPU BPF maps.

xref: https://github.com/aquasecurity/libbpfgo/pull/156/files

[2022-06-28 19:26] maxbrunet commented on #509
@kakkoyun PR are still merged without waiting for any checks (e.g #514), although the box is checked, there are no required checks at the moment, you must "Choose which [status checks](https://docs.github.com/rest/commits/statuses) must pass", for example:

![image](https://user-images.githubusercontent.com/32458727/176265794-9ecfaf5f-839a-420d-9f41-7e275421ca6f.png)

After that, the checks will s

[2022-06-29 05:33] kakkoyun commented on #509
Thanks, @maxbrunet for the screenshots. It helped a lot :) I have marked certain tasks as required.

[2022-06-29 10:10] javierhonduco commented on #439
**TL;DR**: The issue, as we suspected, lies in the lack of frame pointers in libc, which results in broken stack traces. The reason why `close(2)` looked correct (it isn't, more details below) it's due to pure chance as the compiler did not generate code that uses the `rbp` register, so the previous value was never overridden.

## Context

There are a couple of things that @Sylfrena, @kakkoyun and

[2022-06-29 14:58] javierhonduco opened #523 "elfwriter: panic in elfwriter.go:803"
[code]

https://github.com/parca-dev/parca-agent/blob/5d1afd141d419f1d42cc8061edf45a24478ca436/pkg/elfwriter/elfwriter.go#L803

cc @kakkoyun

[2022-06-29 22:47] maxbrunet commented on #520
Would it be as simple as `sed -i 's/HashMap/PerCpuHashMap/g' bpf/cpu-profiler/src/main.rs`?:

[code]

The maps are still named `counts`, so I guess the agent would pick them up without change:

https://github.com/parca-dev/parca-agent/blob/1e7edd6629ffd4b2ddf5fdb5ed10bf42c5279121/pkg/profiler/profiler.go#L378

That builds and at first look seem to work

[2022-06-30 05:55] kakkoyun commented on #509
If it works, I'm totally in for this. I had to disable some checks because of this.

[2022-06-30 06:05] #523 closed

[2022-06-30 06:09] kakkoyun commented on #520
@maxbrunet This seems about right. As you suggested we need to test this extensively.

And I'd suggest we have the `libbpf-go` and `libbpf` upgrade in a separate PR. We can also automate upgrades. Previously it was disabled because of the lack of tests. (We now have them https://github.com/parca-dev/parca-agent/blob/main/pkg/profiler/profiler_test.go) We should test our access patterns.

I think t

[2022-06-30 06:12] kakkoyun opened #527 "chore: Upgrade to libbpfgo v0.3.0 and ibbpf 0.8.0"
https://github.com/aquasecurity/libbpfgo/releases/tag/v0.3.0-libbpf-0.8.0

[2022-06-30 06:27] kakkoyun commented on #520
This could be happening because we need to upgrade the submodule in https://github.com/parca-dev/parca-agent/tree/main/3rdparty separately to the v0.8.0 tag. A simple Go module upgrade won't be enough.

[2022-06-30 09:02] kakkoyun opened #528 "symbolizer: Add metrics of `symbolizer` package"
- Success and failures
- Reasons
- How much does it take to finish a round?
- How much does it take to store the symbolized locations?

[2022-06-30 15:49] javierhonduco opened #533 "stack quality: Investigate unsymbolised frames (libc's in this case)"
While running parca-demo I have noticed that some frames are not symbolised properly. On my tests this happens in libc

### Recently:
![image](https://user-images.githubusercontent.com/959128/176720799-54b43fa0-bb52-4150-bd68-7c624bd8738c.png)
(from https://github.com/parca-dev/parca-agent/pull/532)

### Some time ago:

![image](https://user-images.githubusercontent.com/959128/176720837-2d9b3786-b

[2022-06-30 15:54] kakkoyun commented on #533
Now that we don't have any blockers we should revive #395 :)

[2022-06-30 15:56] javierhonduco commented on #533
Sounds good! Let's do it after we land system-wide work if you don't mind.  There's going to be a couple of concurrent changes in the same files

[2022-06-30 17:09] #475 closed

[2022-06-30 17:11] kakkoyun commented on #475
@purkhusid The main branch of Parca Server and Agent should be stable now to test.

[2022-06-30 17:57] maxbrunet commented on #520
Yes, it is what I was at, v0.8 now requires `pkg-config` and `usdt.c` does not compile, maybe there is another new requirement I am missing or something I do not clean up properly (I did `rm -rf dist/` and nothing obvious with a dry-run of `git clean` )

<details>
<summary>CC errors</summary>

[code]

</details>

[2022-06-30 19:13] maxbrunet commented on #520
Fixed this, wrong ELF lib in `nix-shell`

[2022-07-04 06:14] kakkoyun commented on #533
Sounds good to me.

[2022-07-04 06:38] #527 closed

[2022-07-04 15:05] kakkoyun commented on #331
Completed by #331

[2022-07-04 15:09] kakkoyun commented on #16
Closed by #402

[2022-07-04 15:09] #16 closed

[2022-07-04 15:10] kakkoyun commented on #74
#395 (reverted #403)
Waiting for the minimum supported kernel version to 5.2

[2022-07-04 15:13] kakkoyun commented on #443
@v-thakkar Do you want to check this out as well?

[2022-07-04 15:32] v-thakkar commented on #443
Yes, Please assign it to me. I'll add this as well.

[2022-07-04 15:50] javierhonduco commented on #520
Hey Maxime, thanks for chipping in!

Your approach would definitely work, but I am a bit concerned about changing the memory usage and time we need to process from O(1) to O(cpu_count) as well as increasing the userspace code complexity, as we would have to perform the merge of the stack counts in userspace.

Let me try to see if we could bring the atomics back, as I would be more comfortable ship

[2022-07-04 18:42] kakkoyun commented on #520
@maxbrunet But it's close to the finish line, please don't refrain to open the PR. We can benchmark them. I think we should do this comparison anyway.

[2022-07-04 21:44] maxbrunet commented on #520
I definitely agree, quickly looking around we may be able to use BPF ring buffer:
https://www.kernel.org/doc/html/latest/bpf/ringbuf.html
https://nakryiko.com/posts/bpf-ringbuf/

It requires Linux 5.8 (torvalds/linux@457f44363a8894135c85b7a9afd2bd8196db24ab) and Aya does not have support for it yet (aya-rs/aya#12).
Let me know if you have anything else in mind.

Since it is a regression, how was i

[2022-07-05 06:01] kakkoyun commented on #520
We deliberately don't want to use ring buffers. Since it's a sampling profiler, it's more efficient to aggregate samples and then sync them when they are actually needed.

We were using atomic increments. We deliberately drop them because of the lack of support in Aya back then.
https://github.com/parca-dev/parca-agent/blob/f2e1871d845f8fed2a36a667e6fd030cdbbb9cf0/parca-agent.bpf.c#L136-L137

I ac

[2022-07-05 10:03] javierhonduco commented on #520
Just as an update, I am still testing the lock approach, so far the code generation seems... not what I expected, as the lock instruction is not there. I suspect that the BPF backend in rustc might not support it.

Will post the code and any updates I might have in a bit

[2022-07-05 10:45] javierhonduco opened #543 "elfwriter: Unsupported compression types"
Using our testing binary from https://github.com/parca-dev/parca-demo/tree/main/cpp and running it with `make -C cpp clang-with-fp && docker run -it parca-demo:cpp-clang-with-fp` we can see that we failed to write sections in the extracted elf file, this is

I believe this is what's causing some frames (libc's in this case) to not get symbolised https://github.com/parca-dev/parca-agent/issues/533

[2022-07-05 10:47] javierhonduco commented on #543
Do we want to extract the debug information in the case of separate DWARF? https://github.com/parca-dev/parca-agent/blob/6b67638efb2cc3ef7368b7726a354b3f8a6e6280/pkg/debuginfo/debuginfo.go#L116

[2022-07-05 11:00] javierhonduco opened #545 "libbpf-go failing with `could not determine kind of name for C.bpf_map__lookup_elem`"
Running parca-agent on current main (https://github.com/parca-dev/parca-agent/commit/57003ff67b36928526039266134201b6c20a9711) on my machine results in a libbpf-go error, probably due to the recent libbpf-go upgrade in https://github.com/parca-dev/parca-agent/commit/f3c9a1b84b9490d93da39dbe25845a6cb8d2d154.

[code]
[code]

This did not happen in CI so it's probably an issue with my setup, but open

[2022-07-05 14:54] javierhonduco commented on #520
Hi folks, sorry for the delay! This is the current state of experiments for locking, as Kemal mentioned we used to use both the `__sync_fetch_and_add` intrinsic as well as `bpf_map_lookup_or_try_init`:

https://github.com/parca-dev/parca-agent/blob/f2e1871d845f8fed2a36a667e6fd030cdbbb9cf0/parca-agent.bpf.c#L132

I've tried to bring both back to ensure that we remove the new data race that was intr

[2022-07-05 15:26] v-thakkar opened #547 "build: Simplify the eBPF artifact build process"
Let's get rid of makefile under bpf/. We should be able to handle everything for the rust code via Cargo and Makefile at the root of the project should have bpf/setup, bpf/build with Cargo commands.
- [ ] Remove Makefile in bpf/
- [ ] Add setup and build options in root Makefile
- [ ] Add a way to install bpf-linker based on arch:
- For x86: cargo install bpf-linker
- For arm64: LLVM_SYS_140_PREFI

[2022-07-07 12:16] javierhonduco commented on #543
With

[code]
we can see we are getting bogus `compressionType` values
[code]

[2022-07-07 12:40] #520 closed, assigned to nobody

[2022-07-07 12:45] kakkoyun commented on #543
We actually need to implement a compression writer. AFAIR, it was left as future work. Sorry if I haven't opened the issue for that.
Let's keep this one to track the progress. Go 1.19 will have compressed DWARF sections by default.

[2022-07-07 14:43] kakkoyun opened #554 "chore: Adapt local development environment to compile binaries outside the container"
- Update Dockerfile.dev
- Update Tilt

[2022-07-08 07:40] #459 closed

[2022-07-08 07:40] #460 closed

[2022-07-08 07:40] #496 closed

[2022-07-08 07:40] #518 closed

[2022-07-08 07:40] #519 closed

[2022-07-08 13:42] kakkoyun opened #559 "chore: Fix container push errors"
https://github.com/parca-dev/parca-agent/runs/7252096350?check_suite_focus=true

[2022-07-09 08:15] #559 closed

[2022-07-11 06:32] kakkoyun opened #566 "chore: CI - post set up go action is flaky because of cache"
[code]

[2022-07-11 06:56] kakkoyun opened #567 "debuginfo: Info file upload fails after latest Parca Server upstream changes"
[code]

The issue could be on the server-side as well.

[2022-07-11 09:52] kakkoyun opened #568 "chore: Create a composite action to build and set the dependencies"
ref: https://docs.github.com/en/actions/creating-actions/creating-a-composite-action

e.g. https://github.com/aquasecurity/tracee/blob/main/.github/actions/build-dependencies/action.yaml

[2022-07-11 14:01] javierhonduco opened #571 "profiler: Benchmark various stack collection approaches"
The performance of the current stack aggregation in BPF w/ atomics has not been benchmarked yet. We propose to benchmark the CPU and memory usage of the following approaches:
- (current one) BPF w/ atomics https://github.com/parca-dev/parca-agent/pull/552
- (proposed experiment) Per CPU maps https://github.com/parca-dev/parca-agent/pull/542
- (not implemented yet) Sending individual samples with a

[2022-07-12 14:03] #554 closed

[2022-07-12 14:18] #567 closed

[2022-07-12 14:40] kakkoyun opened #578 "elfwriter: Compress DWARF sections by default"

[2022-07-13 08:58] javierhonduco opened #581 "elfwriter: `_start` is not symbolised properly"
`_start` is ELF binaries' entry point which eventually calls `main`, we fail to symbolise it with the following error in Parca:

After poking a bit, it was clear that this is not a bug on Parca's symboliser, but on the way we are extracting the elf symbols, where we are missing some piece of information.

[code]

[code]

Not sure what's causing this yet. This is how it looks in the profiles:
<img

[2022-07-13 09:03] javierhonduco opened #582 "elfwriter: Improve handling of links"
Repro:

[code]

[2022-07-13 09:05] #543 closed

[2022-07-13 09:07] kakkoyun commented on #506
Is this still valid after the recent changes?

[2022-07-13 09:10] javierhonduco commented on #506
Unfortunately, it doesn't seem to fix it. I can repro this with:

[code]

[2022-07-13 10:28] kakkoyun opened #583 "container: exec: "/bin/parca-agent": permission denied: unknown."
[code]
[code]

[2022-07-13 11:06] #583 closed

[2022-07-13 13:40] kakkoyun commented on #581
One thing we need to clarify is where is the `_start` symbol stored for the given example.
The solution to #582 could also fix this one.

[2022-07-13 14:56] kakkoyun commented on #581
Resolving these symbols depends on the symbolizer we decide to use in the backend if that section presents.

Could you also add the list of sections in this issue?

[2022-07-14 08:45] javierhonduco commented on #578
This would be a great feature! Wondering if we should implement this in the server or in the agent (or in both, and allow opt-in/out in the agent).

I believe it would be a matter of the tradeoff we choose: network (uncompressed) vs CPU (incurred when compression)

[2022-07-14 16:24] kakkoyun opened #590 "bug: Fix make test/profiler"
`make test/profiler` fails because the Go tool tries to run tests with Go1.17 compatibility mode. And since we have some generic function in place the tests fail. The weird thing is the other tests pass.

cc @javierhonduco

[2022-07-14 16:42] #506 closed

[2022-07-18 07:56] v-thakkar opened #593 "local dev: Dockerfile fails to fetch debian image"
When I try to build a local docker instance with 'sudo docker build -f Dockerfile.dev -t agent .' , it fails to fetch Debian image and docker. Log below:

[code]

[2022-07-18 08:22] #593 closed

[2022-07-18 12:23] kakkoyun opened #594 "debug-info: Add symbolization support"
- Add `add2line` sub-command to `debug-info` binary e.g. https://pkg.go.dev/cmd/addr2line@go1.18.4
  - Use Parca version of add2line (DWARF, strtab and go)
- Add `nm` sub-command to `debug-info` binary e.g. https://pkg.go.dev/cmd/nm@go1.18.4

[2022-07-19 14:38] kakkoyun opened #601 "profiler: Delete stack in batches"
[code]

cc @javierhonduco

[2022-07-19 16:05] kakkoyun opened #605 "debuginfo/find: Add the ability to specify the global debug directories to look for as CLI arguments"

[2022-07-20 07:25] javierhonduco commented on #601
Oh yes, I remember this, was quite odd. Can take a look in some weeks.

Wondering how hot`DeleteKeyBatch` is, would be interesting to perhaps check our own profiles in the demo cluster

[2022-07-20 08:53] manojVivek opened #608 "ci: Add Darwin binaries of `parca-agent` to the release assets"
Currently, we are only publishing Linux binaries as release assets, having Mac binaries there would be useful to try out the `scraping` mode.

[2022-07-20 09:22] brancz commented on #608
This issue should be on parca, not the parca-agent. The agent will always only work on Linux since it uses eBPF. The server is what does the scraping.

[2022-07-20 09:27] kakkoyun commented on #608
:100: Until the day Apple decides to put eBPF on Darwin (Microsoft is working on it).

Closing this.

[2022-07-20 09:27] #608 closed

[2022-07-24 19:10] lilic commented on #294
@kakkoyun @v-thakkar Hi I am seeing this in the latest parca-agent, was this not maybe in release v0.9.0 of the agent?
[code]

[2022-07-24 20:04] v-thakkar commented on #294
Aya doesn't have the proper BTF support yet for their eBPF part. So we moved to use legacy map definitions since we started using Aya for our eBPF code. Reopening this so that we remember to fix it once BTF support is there is Aya. :)

[2022-07-25 09:09] kakkoyun commented on #180
cc @javierhonduco

[2022-07-25 11:29] kakkoyun opened #617 "Add debug_frame based stack unwinding"
related #293

* [ ] DWARF64 parsing support
* [ ] Ability to specific additional debug information

[2022-07-25 11:31] kakkoyun opened #618 "debuginfo: Synthesise eh_frame when it does not exist"
https://hal.inria.fr/hal-02297690/document

https://github.com/frdwarf

[2022-07-25 12:29] kakkoyun opened #619 "debuginfo: Synthesize ORC information"

[2022-07-25 12:30] kakkoyun opened #620 "ORC-based stack unwinding in eBPF"

[2022-07-26 08:14] v-thakkar commented on #294
https://github.com/aya-rs/aya/issues/351

[2022-07-26 08:32] kakkoyun opened #622 "doc: Add a detailed supported Kernel requirement section in the README.md"
https://github.com/iovisor/bcc/blob/master/docs/kernel-versions.md

https://github.com/Exein-io/pulsar#minimum-kernel-requirements

[2022-07-27 12:09] javierhonduco opened #624 "ksym: Move prometheus cache stats to the ksym package"
see: https://github.com/parca-dev/parca-agent/pull/391

[2022-07-28 13:13] brancz commented on #578
since these uploads should only ever occur once for a given binary I think the CPU cost is not actually worth the reduction in network traffic

[2022-07-28 13:18] javierhonduco opened #628 "web ui: Round the decimals for "next profile started""
## Context
Parca Agent's UI exposes a web UI on port 7071 by default. We use this interface to troubleshoot issues, as well as to expose some internal Golang runtime information.

It looks like this:

<img width="1169" alt="image" src="https://user-images.githubusercontent.com/959128/181513787-859ded8e-bd93-4a68-ade0-488864ed7a4d.png">

As you can see, the "Next Profile Started" header shows a lot

[2022-07-28 13:29] javierhonduco opened #629 "system-wide: Cleanups and further work"
After we land https://github.com/parca-dev/parca-agent/pull/627, there will be some outstanding work:

- [x] https://github.com/parca-dev/parca-agent/issues/631 (Fixed by https://github.com/parca-dev/parca-agent/pull/641)
- [x] https://github.com/parca-dev/parca-agent/issues/635 (Fixed by https://github.com/parca-dev/parca-agent/pull/641)
- [x] Run the new setup in minikube for several hours (alre

[2022-07-28 13:33] kakkoyun commented on #578
A very good argument actually. This could be a premature optimisation.

[2022-07-28 13:43] javierhonduco opened #630 "minikube: Add clang-with-fp container"
It would be wonderful to have the [clang-with-fp ](https://github.com/parca-dev/parca-demo/tree/main/cpp)test container to minikube

[2022-07-28 14:04] javierhonduco opened #631 "stack quality: Investigate too few? profiles for Parca"
After running for 30 minutes and running multiple queries, I expected more stack traces:

<img width="1500" alt="image" src="https://user-images.githubusercontent.com/959128/181524937-9a88edd4-f879-453c-a2db-3afa718308be.png">

[2022-07-28 15:10] #260 closed

[2022-07-28 19:39] brancz commented on #631
what is `30'`? 30 second? 30 minutes? 30s would not seem very unusual, we optimized Parca CPU usage a lot lately.

[2022-07-29 07:31] javierhonduco commented on #631
Was running for 30 minutes. I think the number of samples might be too low, but I am not sure. Might be that it's not spending that much time running on the CPU

[2022-07-30 10:27] kakkoyun opened #635 "profile write client: Agent sending corrupted compressed profiles"
[code]

[2022-08-01 07:39] #578 closed

[2022-08-01 07:40] kakkoyun commented on #400
@javierhonduco shall we close this one?

[2022-08-01 08:31] javierhonduco commented on #400
Yes!! Good shout!

[2022-08-01 08:31] #400 closed

[2022-08-01 09:35] javierhonduco opened #640 "profiler: Migrate away from `runtime.NumCPU()`"
To use https://github.com/aquasecurity/libbpfgo/issues/195 instead, as we need the active CPUs

[2022-08-01 14:06] javierhonduco opened #642 "write client: First profile takes a very long time to show up in the UI"
(This might be a Parca issue, but cutting the issue here to investigate a bit more)

We have a 10s interval to send profiles to Parca, but in some instances, it takes minutes until the profiles appear in Parca UI's

[2022-08-01 14:55] #635 closed

[2022-08-01 14:57] kakkoyun opened #644 "optimization: Reduce the amount of memory the Agent uses"
We need to recheck what we cache. And the lifecycle of the cached items.

I will attach profiles from our demo environment to this issue.

[2022-08-01 15:08] javierhonduco commented on #631
Closed by https://github.com/parca-dev/parca-agent/pull/641

[2022-08-01 15:08] #631 closed

[2022-08-02 08:14] kakkoyun opened #646 "chore: Add metric dashboards for the Agent"
Maybe it's time to start a Parca Agent dashboard? 😎

_Originally posted by @brancz in https://github.com/parca-dev/parca-agent/issues/643#issuecomment-1201539262_

[2022-08-02 10:14] javierhonduco opened #650 "docs: Update design.md with the new architecture"
Introduced in system-wide (https://github.com/parca-dev/parca-agent/pull/627)

[2022-08-02 14:22] brancz opened #652 "Add process `comm` as label"
Now that we're doing whole system profiling with Parca Agent I think it would be useful to attach the processes `comm` as a label. By that I mean the content of `/proc/<PID>/comm`. I think for any environment that does not have established metadata (like Kubernetes) using the binary name of a process is a pretty good fallback.

[2022-08-02 14:34] kakkoyun commented on #397
https://github.com/parca-dev/debug-info

[2022-08-02 15:45] kakkoyun opened #654 "chore: Add project roadmap document"
A project board? or milestone? Either way, a document explains how the community can track the project roadmap.

[2022-08-03 08:04] javierhonduco opened #658 "dev: Add system metrics collection and UI"
Would like to have some basic system metrics such as CPU, memory usage, etc to our Minikube cluster during testing as I think it would be useful to find issues during development.

Some metrics I would like to have:
- CPU and memory usage per process (broken down by private, shared, and anonymous)
- Memory / IO / CPU pressure (PSI metrics) per process
- Opened file descriptors
- Threads for each p

[2022-08-03 08:25] kakkoyun commented on #658
We already have most of these metrics using the Go runtime collector, node_exporter, etc. So we just need to provide facilities for the local development environment.

And we usually use Grafana dashboards (internally Polar Signals). For the last bit, we also have this issue https://github.com/parca-dev/parca-agent/issues/646.

[2022-08-03 08:27] javierhonduco commented on #658
As we already have this internally, I'll close this issue

[2022-08-03 08:28] kakkoyun commented on #658
No, need to close it. Let's talk offline.

[2022-08-03 08:33] brancz opened #660 "Only log about debuginfo collection if it's turned off"
By default debuginfo collection is on and that's good, but it can be confusing to users that it is being logged about.

[code]

I think we should only log about this when we turn it off as that's the situation we want to inform about.

[2022-08-03 08:36] brancz opened #661 "Be more explicit in service discovery logging"
I think the log line:

[code]

Is useful as it tells us that Kubernetes metadata discovery is starting. Most people won't know or care that that's what "starting the pod controller" means though. I think we should rephrase this log line to be clearer.

[2022-08-03 11:49] v-thakkar commented on #640
This is bad: https://cs.opensource.google/go/go/+/refs/tags/go1.19:src/runtime/debug.go;l=42. As talked with Javier on discord, I think we should push for libbpf_num_possible_cpus support as with runtime.NumCPU we might end up creating profiles for the offline CPUs. I'll take care of this.

[2022-08-03 12:19] kakkoyun commented on #10
This is not needed anymore. We will be using https://github.com/parca-dev/cross-builder for consistent cross-builds.

[2022-08-03 12:19] #10 closed

[2022-08-03 12:23] kakkoyun commented on #658
Let's provide a monitoring mixin for Parca (for more context https://monitoring.mixins.dev)
And add kube-prometheus to the local testing setup. Similar to https://github.com/parca-dev/parca-demo/tree/main/kube-prometheus

[2022-08-03 14:50] kakkoyun opened #665 "Consider using libbpfgo usptream kallsym parser"
https://github.com/aquasecurity/libbpfgo/blob/main/helpers/kernel_symbols.go

[2022-08-03 15:00] kakkoyun opened #666 "Add missing metrics"
- [ ]  BatchWriteClient (latency, retries)

[2022-08-03 15:29] v-thakkar commented on #665
https://github.com/parca-dev/parca-agent/blob/main/pkg/ksym/ksym.go#L75 :D

[2022-08-03 15:50] kakkoyun commented on #665
Yes, I'm trying to make them more visible :see_no_evil:

[2022-08-03 16:53] brancz commented on #665
It does not seem to me that the libbpfgo one handles address ranges correctly. I distinctly remember that ranges were important and lookups do not work with exact addresses.

Eg. we do the range lookup here:

https://github.com/parca-dev/parca-agent/blob/bf421e065e30bb65cf237e868555b9c9a74e8328/pkg/ksym/ksym.go#L178-L184

And the libbpfgo one does a direct lookup:

https://github.com/aquasecurity/

[2022-08-03 17:00] kakkoyun commented on #665
Then it might be a good idea to contribute back upstream with our better version.

[2022-08-03 17:54] brancz commented on #665
We can propose it, but I suspect there’s a bit of a trade off at play. We traded off memory for spending more cpu. It depends a lot on how it’s being used, how often it’s used, etc.

[2022-08-04 06:09] kakkoyun opened #669 "local-dev: Add -gcflags="all=-N -l" flag for debug builds"

[2022-08-04 06:13] kakkoyun commented on #566
Solved after using the cache for the same go.mod file.

[2022-08-04 06:13] #566 closed

[2022-08-04 06:47] kakkoyun opened #670 "ci: Use parca-dev/cross-builder"
https://github.com/parca-dev/cross-builder/issues/2

[2022-08-04 06:59] kakkoyun commented on #629
I will be addressing several issues on #663

[2022-08-04 12:23] kakkoyun opened #671 "process maps: Check why agent fails to find referred mapped object"
[code]

[2022-08-04 12:52] brancz commented on #671
I suspect this is an artifact of a short-lived process that exited between reading the mapping and reading the object file. We could tell reasonably easily by checking if that process is still alive right after (that certainly leaves the possibility for that to be racy, but it would tell us if the process is actually still running in which case this is probably more severe).

[2022-08-04 16:14] kakkoyun opened #673 "release: Automate AUR releases"
https://goreleaser.com/customization/aur/

similar https://github.com/parca-dev/parca/pull/1488

[2022-08-04 17:48] kakkoyun commented on #180
deprecated after #627

[2022-08-04 17:48] #180 closed

[2022-08-04 17:54] javierhonduco commented on #416
Hi!!

We have completely removed the reliance on the profiler on the cgroups hierarchy after https://github.com/parca-dev/parca-agent/pull/627, which should help with this issue.

If you can try the current `main` that would be great, otherwise, we should be releasing the updated Agent with system-wide enabled in ~2-3 weeks.

Feel free to re-open if things are still broken for you!

cc @kakkoyun

[2022-08-04 17:54] #416 closed

[2022-08-05 05:37] kakkoyun opened #674 "release: Automate releasing snap packages"
xref: https://github.com/parca-dev/parca/pull/1488

[2022-08-05 08:51] kakkoyun commented on #490
Fixed by #676

[2022-08-05 08:51] #490 closed

[2022-08-05 09:00] kakkoyun opened #683 "Name known Goroutine using pprof labels"
It helps us to provide more insights about concurrently running components.

More context: https://www.storj.io/blog/production-concurrency

[2022-08-05 23:30] maxbrunet commented on #683
Excellent read, thanks for sharing! Frederic had mentioned it in a blog post as well: https://www.polarsignals.com/blog/posts/2021/04/13/demystifying-pprof-labels-with-go/

[2022-08-08 07:09] v-thakkar opened #687 "Add more kernel config checks"
This is for the follow-up PR after #686 has been merged.
 - [ ] Check for the stack unwinding-related options
 - [ ] Check for the CONFIG_SYS_ADMIN, CAP_PERF_MON (for perf_events)
 - [ ] Check for Cgroup versions

[2022-08-08 08:39] kakkoyun opened #688 "metadata: Implement a more scalable solution for Kubernetes metadata discovery"
We talked directly to the Kubernetes API using a list watcher to discover metadata labels for containers that we discover. However, this strategy is scalable until a limit of nodes in the cluster. One thing we can try is to talk to the kubelet on the node instead of Kubernetes API. But you can't have watchers on the kubelet API, so we need to implement polling a hammer the kubelet API which is not

[2022-08-08 12:50] kakkoyun opened #690 "Add ability to specify targets to profile"
~~This issue is about bringing back the functionality specified by ` --pod-label-selector` and `--systemd-units` flags we had from the last major release.~~

[code]

It's removed as part of #627, and the fully featured filtering will be added eventually.

# Tasks

- [x] As an initial implementation, let profiler to capture profiles but just do not send them to the server
- [x] Specify pods to prof

[2022-08-08 12:53] kakkoyun opened #691 "ui: Improvements after system-wide changes"
- [x]  Decide on the Agent's web UI features / troubleshooting helpers (e.g. pprof generation)
- [ ]  Create issue for UI's filtering with lots of data

#629

[2022-08-09 06:27] #674 closed

[2022-08-09 06:29] #337 closed

[2022-08-09 14:30] #624 closed

[2022-08-09 14:48] jnsgruk opened #692 "Snap Confinement prevents access to `/boot`"
The recent refactoring in #663 introduced more rigorous checks for whether eBPF is adequately configured on the host before profiling begins.

One of the places that can be checked is in `/boot/config-$(uname- r)`. This is the default location for the kernel config on Ubuntu and other distros. Those distributions that keep it in `/proc/config.gz` are supported currently by the `system-observe` int

[2022-08-09 16:23] kakkoyun opened #697 "discovery: Add process discovery mechanism"
- Use for relabelling
- Use for eh_frame provider
- Use for metadata labels

[2022-08-10 13:36] kakkoyun opened #699 "ci: Fix bpf-linker issues with rust cache v2"
https://github.com/parca-dev/parca-agent/pull/680

[2022-08-11 13:29] v-thakkar opened #702 "Add startup checks about bpf program and map type support"
This will be particularly useful once we have a larger bpf program after the stack unwinding feature is merged. We can potentially leverage libbpfgo API for the same. https://github.com/v-thakkar/libbpfgo/blob/main/libbpfgo.go#L1877

[2022-08-11 14:59] jnsgruk commented on #692
Started a discussion on [snapcraft.io[(https://forum.snapcraft.io/t/new-interface-proposal-kernel-config/31253) following some internal discussions.

[2022-08-12 10:03] jnsgruk commented on #692
After a little discussion, it seems we might be able to get a change into the existing `system-observe` interface, which means a very easy ride for the snap once the changes land in snapd. I've started [a PR](https://github.com/snapcore/snapd/pull/12030) on snapd, but I expect it'll go through a couple of rounds of changes/reviews.

[2022-08-16 12:06] kakkoyun opened #709 "ci: Run eBPF integration (profiler) tests against different Kernel versions"
Starting from minimum supported kernel version 4.19 and all the kernel versions above

[2022-08-16 12:42] javierhonduco opened #710 "symbolizer/kernel: Investigate bogus addresses"
On current main:

<img width="1356" alt="image" src="https://user-images.githubusercontent.com/959128/184882171-3f33c06e-dd0c-4f20-9108-63ce2bc758f2.png">

[2022-08-16 15:51] kakkoyun opened #712 "symbolizer/kernel: Add a mechanism to refresh kallsym cache"
https://github.com/parca-dev/parca-agent/pull/708 and https://github.com/parca-dev/parca-agent/pull/711 Introduce a simple caching for the contents of `kallsym` file.

We need to add a mechanism to update/invalidate that cache. We add a file listener, or we can add an interval-based polling mechanism to update the in-memory cache of the symbols.

cc @javierhonduco

[2022-08-16 15:54] javierhonduco commented on #712
We update the data we parse from kallsyms when we notice that the mapping are stale (mismatching hash) or when some timer times out:

https://github.com/parca-dev/parca-agent/blob/624148f5864ca95c2d89621316ac037c6fa3e39f/pkg/ksym/ksym.go#L109-L112

Do we need to refresh it in some other places/ways?

[2022-08-16 16:19] kakkoyun commented on #712
Do we do this now? (I might have missed that)

[2022-08-16 16:20] javierhonduco commented on #712
Yes, the code snippet above is from the PR we just landed. Updated the link above with the revision on main

[2022-08-16 16:34] javierhonduco commented on #710
Haven't checked in detail yet, but I wonder if this could be when the kernel stack failed, but we still have zeroed in the merged stack.

If this is the case, we should signify this somehow so when it fails, we don't store the zeroed stacktrace. What I am not sure about is why we didn't notice this before?

[2022-08-16 21:47] jnsgruk commented on #692
Changes are now merged into snapd, I'll get a PR ready for when they land in the next release.

[2022-08-17 04:30] kakkoyun opened #715 "Add support for dynamically downloading and loading BTF for the running host"
By using https://github.com/aquasecurity/btfhub, we can download the specific BTF definitions for the host that Agent runs on.

If `CONFIG_DEBUG_INFO_BTF=y` is enabled in the Kernel config, it's easy to find BTF definitions for the kernel under `/sys/kernel/btf/vmlinux`. However, if it's not there we can download it from the hub and load the correct definitions when initializing libbpf loader.

[2022-08-17 07:58] v-thakkar commented on #715
I think we should start with the 5.2 kernel requirement and add in the documentation that it's possible to support older kernels. We should only add this feature if we find the users that require it.

[2022-08-17 08:05] kakkoyun opened #718 "symbolizer: Allow partial symbolization"
Right now, when we fail to symbolize kernel symbols for a profile we stop the symbolization process. We should attempt to symbolize the user JITed functions even the kernel symbolization fails.

[2022-08-17 12:04] kakkoyun commented on #715
I recently revisited what the supported features for the kernel version are. FWIW, BTF type format is supporter version 4.18, and above https://github.com/iovisor/bcc/blob/master/docs/kernel-versions.md I think we can have it since we claim to support 4.19 and above.

[2022-08-17 12:40] v-thakkar commented on #715
While basic support for BTF indeed existed since 4.18, the more important thing to have the information about is when support for the BTF APIs we'll have in use with the stack unwinding feature landed in the kernel. And depending upon that we can decide if it's worth adding support for the CO-RE via BTF Hub(for the older versions) or not.

For example, some stuff from older BTF things might alread

[2022-08-17 12:43] kakkoyun commented on #715
Let's see how it goes. As of now, all the things we need for unwinding are in the perf_event context, so we might not need this.

[2022-08-18 13:26] jnsgruk commented on #692
Okay - done some testing and we're not quite there. There is a detail surrounding how to get access to `/boot` inside the snap, as by default the `/boot` dir is taken from the `core` snap, not the host system. I've drafted another patch for snapd that resolves the issue, and makes Parca Agent start just fine again. Working with the snapd team to get it landed.

[2022-08-19 09:01] brancz commented on #710
Just in case this is not already known, we recently introduced on parca server side to throw away any address that can never be symbolized, eg has no mapping. We needed to do this as each unique address causes a key in the metastore to be created.

[2022-08-22 09:49] kakkoyun opened #732 "ci: Run eBPF configuration checks against different distributions and versions"

[2022-08-22 12:07] javierhonduco commented on #710
This is not correct, we skip zeroed frames.

https://github.com/parca-dev/parca-agent/blob/0d4f3102f590577d9145a0718f6cd409f92d22b4/pkg/profiler/cpu/cpu.go#L461

And yes, it seemed to be what you mention, Frederic, the issue lies in unmapped sections, so we should delve into the root cause on Parca Agent's side. Have some hunches but need some more time to test the hypothesis

[2022-08-23 04:25] #466 closed

[2022-08-23 07:18] jnsgruk commented on #692
Once [this PR](https://github.com/snapcore/snapd/pull/12061) lands, we should be back in business.

[2022-08-23 09:22] v-thakkar opened #736 "[Experiment] Use BTF to fetch debuginfo"
Instead of using DWARF data from debuginfo packages, we can potentially collect debug info directly via BTF+kallsyms.

[2022-08-23 20:22] maxbrunet opened #739 "build: Replace Makefile by Earthfile"
imo `Makefile` is not working great here, it is getting little tangly, and breaks often depending on where it is run. Nix could be a replacement, but I do not think anybody is interested in learning the language, we already use a lot of containers, so an `Earthfile` could make sense: https://github.com/earthly/earthly

(I have never used it before, but it seems to be based on the Dockerfile syntax

[2022-08-24 08:20] v-thakkar commented on #736
For kernel. We can potentially avoid relying on debug info files. It's just an idea at this point. So I haven't gotten much far though.
https://lore.kernel.org/lkml/878rqs163s.fsf@stepbren-lnx.us.oracle.com/T/

[2022-08-24 11:29] kakkoyun commented on #736
Right now, we only use `kallsyms`. We don't check additional debug info files for the Kernel.
That being said, I'm not sure how the relationship between debug files and `kallsyms` works. We need to investigate that.

[2022-08-24 16:06] v-thakkar opened #749 "Optimizations and enhancements for the .eh_frame based stack unwinding"
Let's use this to keep track of all the further optimization and enhancement ideas we wish to tackle once we are satisfied with the correctness of `.eh_frame` based unwinding.

- [ ] Support for the DWARF64 (this can be directly contributed to Delve)
- [ ] Caching of eh_frame parsing for dynamic libraries (we would need to adjust the offsets, but at least we won't have to parse them every single t

[2022-08-25 02:24] Pryz opened #750 "perf-map not found from latest parca-agent version"
I wanted to test the debuginfo caching fix but after deploying the agent from the `main` branch I'm hitting the following error:
[code]

From https://github.com/parca-dev/parca-agent/blob/main/pkg/perf/perf.go#L141 looks like we are expecting a perf map file but I'm not sure where this file is supposed to come from. I don't see any `.map` file on the instances I'm operating.

Also looks like we ar

[2022-08-25 02:43] maxbrunet commented on #750
The runtime needs to be configured to create it. Some examples can be found here: https://github.com/parca-dev/parca-demo.

E.g for NodeJS, it is the `--perf-basic-prof` flag.

[2022-08-25 03:27] Pryz commented on #750
Was reading the code perf map are actually not going to be used on my setup since I'm mostly profiling Go binaries. So mostly a red herring. I think my issue is due to the target discovery instead.

[2022-08-25 04:28] #750 closed

[2022-08-25 06:01] brancz commented on #750
What log level was this at? Either way, I think we should make it clear in the log line that most processes probably won't have perf-maps so it's safe to ignore. But we should also make sure this is a debug level log.

[2022-08-25 20:29] maxbrunet commented on #750
I think the condition is simply inverted here, we do not want to return error if not found, but log it instead:

https://github.com/parca-dev/parca-agent/blob/4b7e8082dcc77bcaa0aa32373ff089df828114c2/pkg/symbol/symbol.go#L67-L72

I am fixing it in #755

[2022-08-29 12:27] metalmatze opened #758 "Current `main` doesn't start on Scaleway"
It would be great to be able to run the latest version of Parca Agent on our [demo.parca.dev](https://demo.parca.dev) instance.

Right now the agent doesn't start on Scaleway Kubernetes nodes logging the following:
level=warn name=parca-agent ts=2022-08-29T12:22:59.162801832Z caller=main.go:139 msg="failed to determine if eBPF is supported" err="kernel config not found"
level=error name=parca-agen

[2022-08-29 16:50] maxbrunet commented on #758
Could you try mounting the config with a `hostPath` volume?

[code]

[2022-08-29 20:42] jcr179 commented on #184
@kakkoyun Hi, as an update I just tried again with v0.12.1 and got the same result as above

[2022-08-30 10:36] metalmatze commented on #758
Just tried this and also looked around on a similar host. The files kconfig is looking for don't exist on those machines.

[2022-08-30 13:06] kakkoyun opened #760 "metadata: Use go-systemd instead of depending on systemctl"
It is more resilient and generic rather than using `systemctl` https://github.com/coreos/go-systemd

[2022-08-30 14:23] javierhonduco opened #762 "testing: CPP binary with smaller .eh_frame table"
Creating another CPP test binary with statically linked libc + LTO would be super helpful. This would make the unwinding tables as small as possible and make sure that things work in a small(er) test case.

Right now, without row deduplication (which I will implement, but don't expect to save much in this case) we have 60968 entries in total due to the dynamic dependencies. Creating a static binar

[2022-08-30 14:24] javierhonduco opened #763 "deps: Verify that tail calls are supported"
Ensuring that we have all the right APIs in libbpfgo to support tail calls because... we are gonna need them! already hitting this limit. I am pretty sure everything's supported but just in case!

[2022-08-30 15:46] kakkoyun commented on #184
Thanks for trying it out. We're constantly trying to improve the resources we use. We believe the next major release (v0.10.0) will have a huge impact on the volume of resources needed to profile the host. We start to create a single eBPF profiler for the whole host. And as I've already added this issue to the milestone, I'll be testing the release candidate on the Oracle Kubernetes engine. Please

[2022-09-01 09:46] javierhonduco opened #768 "Native stack unwinding using .eh_frame"
## Proof of concept
For the first phase, the main goal is to profile our test CPP binary (internal/dwarf/frame/testdata/parca-demo-cpp) using this unwinder. Pull Request with the progress so far https://github.com/parca-dev/parca-agent/pull/744.

### Initial groundwork
- [x] Added CPP binary. Instructions on how to generate it in the commit message (https://github.com/parca-dev/parca-agent/pull/74

[2022-09-01 14:12] javierhonduco opened #772 ".eh_frame: Table generation issues for parca-demo-cpp"
Opening this issue to keep track of table generation bugs/oddities. The two commands to output the tables are:

[code]

for our table generation, and:

[code]

for `readelf`'s. From now on we will refer as "our" or "readelf' as them, respectively.

## Current issues
### CFA "exp" (401020..4010b0)

What's `exp`?

**our**
[code]

**readelf**
[code]

## Fixed

### Missing instruction (4011f0..401243)

[2022-09-01 14:27] javierhonduco opened #773 ".eh_frame: Do we need to handle register rules?"
Something like

[code]

I am unsure if we need this or not. But opening an issue so we don't forget to take a look at this.

[2022-09-05 09:37] javierhonduco commented on #665
I just wanted to update this issue as we have changed our kernel symbolizer in https://github.com/parca-dev/parca-agent/pull/708.

The new implementation loads all the addresses and symbol names in memory, but there are some differences compared to libbpfgo's. Our implementation:
- [Makes fewer allocations](https://github.com/parca-dev/parca-agent/pull/708/files#diff-b7c7825d5918a11047c473ef76472f

[2022-09-05 09:40] kakkoyun commented on #665
I totally agree, let's close this one. And we can contribute back the improvements to the upstream libbpfgo.

[2022-09-05 09:40] #665 closed

[2022-09-05 09:45] javierhonduco commented on #619
The kernel unwinding mechanism is transparent to us. We don't have to generate the ORC information, nor check for it when using the perf_event_open syscall (or BPF get_stack_id) helpers, which AFAIK use the same mechanisms

[2022-09-05 09:45] #619 closed

[2022-09-05 09:56] kakkoyun commented on #619
I should have clarified more. The idea behind this one was to generate ORC information for the user processes that don't have any unwind information and let the kernel do the unwinding or implement a custom ORC unwinding in eBPF space to the same for user programs since the ORC-based unwinding is simpler to implement.

We can open re-evaluate and open an issue about this when we know more about th

[2022-09-05 10:02] javierhonduco commented on #619
I see! Should we then merge it with https://github.com/parca-dev/parca-agent/issues/618? In the end the difference is what's the format we choose, being ORC's, or a custom one, no?

[2022-09-05 10:29] zdyj3170101136 opened #781 "wrong object file path"
in parca-agent,using mmap file to get object file :

[code]
m is profile.mapping.

and in my linux machine, the maps output is:
[code]

the m.file is absolute path.

so i think you should use os.Open(m.file) to get object file.

[2022-09-05 11:24] kakkoyun commented on #619
Sounds good to me!

[2022-09-05 13:19] javierhonduco commented on #781
Hi!

This path should be correct due to how [mount namespaces](https://man7.org/linux/man-pages/man7/mount_namespaces.7.html) work. When a process has a different mount namespace than the root one, we have to access the files in `/proc/<pid>/root/<path>`. Although it is not strictly necessary, this also works in case of the mount namespace being the same one as the root

Feel free to reopen this i

[2022-09-05 13:19] #781 closed

[2022-09-05 15:43] javierhonduco opened #782 ".eh_frame: Support sections other than `.eh_frame`"
Such as `.debug_frame`, `.zdebug_frame` and others that might have the unwind information. This is important as some binaries, such as Golang's, don't seem to have `.eh_frame`. Not sure yet what the difference might be but perhaps the non-cgo binaries don't produce these tables?

[code]

cc @kakkoyun @v-thakkar

[2022-09-05 15:56] kakkoyun commented on #782
Yes, the vanilla Go binaries don't generate `.eh_frame` sections. and we have a plan to support the `.debug_frame` sections as a follow-up to the initial implementation. https://github.com/parca-dev/parca-agent/issues/617

`.zdebug_frame` is just the `gzip` compressed version of the section. Which is a legacy implementation that has recently dropped. https://github.com/golang/go/issues/50796

Go b

[2022-09-05 15:56] #782 closed

[2022-09-05 16:14] javierhonduco commented on #782
Could you clarify all the above (different sections that we want to support, etc) in that issue? Thanks!

[2022-09-06 06:32] v-thakkar commented on #758
I'll look into where kernel configs are stored in these environments(hint: probably /usr/src). Although I won't get time to tackle this for the next 3 weeks because of the priority issues+conference travel. So until then, I would like to reiterate my suggestion of keeping these logs at the warning level. These checks are for the user's ease and they shouldn't stop users from running the agent righ

[2022-09-06 07:21] kakkoyun commented on #758
@v-thakkar I can have a look at this. Let's talk about it offline.

[2022-09-06 09:20] kakkoyun commented on #739
Even though Earthly looks really interesting, I'm not a fan of having a lot of new tooling to work on the project. Make is not very sexy, but it's available everywhere. I would prefer to stick to the Makefiles.

That being said, I'd love to hear what others think. @parca-dev/agent-maintainers

[2022-09-06 16:29] v-thakkar commented on #739
I :100: agree with @kakkoyun. Earthly indeed looks very interesting but for now, we also have more context over our Makefile. So it's also easy for us to maintain too and I would avoid replacing it unless we've any strong reasons for the same. Thanks for the suggestion though @maxbrunet . I had not come across that project before.

[2022-09-07 06:37] Sylfrena commented on #739
Strongly agree with @kakkoyun and @v-thakkar. While I have had some terrible end-user experiences while building things using `make`, it is very familiar tooling and given the pace at which new features are being added to parca-agent, it is easy to maintain for the time being and maybe slightly early(for both parca and earthly) to consider replacing our current build system.
That said, going to tr

[2022-09-07 13:38] javierhonduco opened #792 ".eh_frame: Check `libc.so.6` unwind tables"
I've spot-checked the tables generated for libc (`internal/dwarf/frame/testdata/libc.so.6`), but we need to invest more time in checking mismatches between our table generator and readelf's

[2022-09-07 13:41] javierhonduco opened #793 ".eh_frame: Unwind tables in signal handlers"
Signal handlers are a bit special and if I am not mistaken, the frame might not be set-up in the same way as other functions. Need to refresh on this because I don't recall the details, but let's double-check that we produce sensible tables for signal handlers and that we handle edge cases well in the BPF unwinder.

[2022-09-07 22:14] v-thakkar commented on #772
While using `dwarfdump` for checking some tables, I realized that it prints little more information than readelf for the CFA "exp" in the case of cpp-binary. So putting that here as I think it'll be helpful to narrow down the bug. It's related to DW_EXPR_VAL_EXPRESSION.

Command:  **dwarfdump --print-eh-frame -F parca-demo-cpp**

[code]
Code from dwarfdump that prints this: https://github.com/dave

[2022-09-08 07:52] kakkoyun commented on #772
[code]

[code]

source: https://git.tobast.fr/m2-internship/compilation-bundle/raw/branch/master/dwarf-compilation.base/contrib/libdwarf/libdwarf/libdwarf2.1.pdf

We have the necessary instruction implementation for this (`DW_CFA_val_expression`). I'll check what instructions we can't match.

[2022-09-09 14:30] kakkoyun opened #799 "Experiment: Use gopclntab to build unwind tables for Go binaries"
Even though this will introduce unnecessary complications to our unwinding strategy since all go binaries have frame pointers in place, `.gopclntab` can also be used to build unwind tables for Go binaries.

This could be used to validate our algorithms since all the Go binaries include `gopclntab` and frame pointers. We can use them for validity checks.

https://docs.google.com/document/d/1lyPIbms

[2022-09-12 18:24] maxbrunet opened #806 "discovery never forgets exited processes"
The discovery seems to never forgets a process even after it has exited. This is at least true for systemd. This could result in a slight memory leak on high churn nodes.

We want to keep the labels available until the current profiling loop finishes, beyond that there should be a clean up (mark for deletion with timestamp?).

The label cache keys also never expires (maybe use the [`WithExpireAfte

[2022-09-13 15:26] kakkoyun commented on #806
I swear I've put an expiring cache for this as you described :see_no_evil: Good catch!
Feel free to send the fix. Otherwise, I can handle it.

[2022-09-14 10:53] v-thakkar commented on #793
https://man7.org/linux/man-pages/man2/sigaltstack.2.html

[2022-09-14 14:59] kakkoyun opened #813 "Experiment: Build Unwind Tables from .ctf_frame section"
https://lpc.events/event/11/contributions/1003/attachments/782/1471/lpc-2021-ctf-btf-gnu-toolchain.pdf

#### TODO
- [ ] Add link to the Linux plumbers talk

cc @v-thakkar @javierhonduco

[2022-09-15 14:16] Sylfrena opened #817 "bug: agent segfaults with latest container image from `main`"
The bug showed up within the CI runner as a `CrashLoopBackOffError` while trying to debug https://github.com/parca-dev/parca-agent/actions/runs/3059567117/jobs/4937209795 with the test parca-agent image https://github.com/orgs/parca-dev/packages/container/parca-agent-test/41804656?tag=HEAD-e17ba4b1 built from `main` at https://github.com/parca-dev/parca-agent/commit/6cc57fcc04520fd319e0bb1ec9dfbb0

[2022-09-18 13:46] v-thakkar commented on #617
This has some good information on the differences: https://docs.rs/gimli/0.16.0/gimli/struct.DebugFrame.html#differences-between-debug_frame-and-eh_frame

[2022-09-20 15:18] v-thakkar commented on #749
eBPF Program:

- Different sizes for the program counter: We're currently using 64 bits universally. Instead we can have 3 different sizes: 8 bit, 16 bit and 32 bit. It might be useful to do this. (JFYI, CTF frame also does the same).

[2022-09-21 08:07] heylongdacoder commented on #817
I am following the CONTRIBUTING.md to run the parca-agent up. I am using the latest main branch, and from my environment I will always get this error when I run `sudo dist/parca-agent --node=test --log-level=debug --remote-store-address=localhost:7070 --remote-store-insecure`. I found out this commit is causing this issue.

[code]

If I use the commit before this, this issue gone.

[2022-09-21 12:19] javierhonduco opened #825 "ASAN doesn't build anymore"
Was trying to use ASAN while working on https://github.com/parca-dev/parca-agent/issues/817 and had to comment out the static linking as it's not compatible with ASAN

[code]

[code]

[2022-09-21 12:20] javierhonduco opened #826 "libbpfgo: Libbpf v1.0 migration"
Opening this issue to track the libbpf v1.0 migration:

- Variadic arguments bug https://github.com/parca-dev/parca-agent/issues/817
- Map issues: `caller=cpu.go:241 msg="failed to obtain profiles from eBPF maps" err="failed iterator: no such file or directory"`

[2022-09-21 17:24] brancz commented on #617
Parca Agent amd64 and arm64 of v0.9.1 have `.eh_frame` sections: https://gist.github.com/brancz/b163d154e9f8179051ef457f0f4a9983

[2022-09-21 20:14] maxbrunet commented on #826
The update has only been partial so far, here how to make a full one:

[code]

Everything works until you try to run it, the `failed to obtain profiles from eBPF maps` message is replaced by a `SIGSEGV: segmentation violation`:

<details>
<summary>Full logs</summary>

[code]

</details>

If you update `libbpfgo` to include the fix from aquasecurity/libbpfgo#248:

[code]

It seems to be a lot bette

[2022-09-22 09:09] javierhonduco commented on #817
Closing this as @maxbrunet already rolled back the offending version bump. We are planning to update to libbpf v1.0 later on

[2022-09-22 09:09] #817 closed

[2022-09-23 23:54] maxbrunet commented on #826
Blocked by #294
Blocked by aya-rs/aya#351

[2022-09-24 08:45] heylongdacoder commented on #666
Hello, is this issue friendly to newcomer? If it is, maybe I can help on this.

[2022-09-26 09:52] #605 closed

[2022-09-27 15:28] #772 closed

[2022-09-27 15:30] javierhonduco commented on #792
- https://github.com/parca-dev/parca-agent/pull/842 carries the right metadata when CFA is an expression
- https://github.com/parca-dev/parca-agent/pull/841 fixes our implementation save/restore opcodes, which was incorrect

[2022-09-28 11:47] javierhonduco opened #844 ".eh_frame: Writing to the unwind table spuriously errors"
Most of the time writing to the table works, but occasionally I can see this error. Looks like it could be a race condition

[code]

[2022-09-29 10:12] javierhonduco opened #845 "Double check process mappings correctness"
While reading the implementation and usage of the process mapping `/proc/<pid>/maps` implementation that we use I've noticed two things that we might want to double-check:

- Caching the memory mappings might yield incorrect results. If a dynamic library is loaded after we parsed and cached the mappings, we won't account for it
- Non-executable sections are skipped [1], which can be a problem when

[2022-09-29 11:46] zdyj3170101136 opened #847 "network profiling support"
In the past, I was a engineer working on our company's trace system.
And we generate system architecture through trace, and use google pprof to visualization it.
![截屏2022-09-29 下午7 44 27](https://user-images.githubusercontent.com/52686065/193022788-280ce71f-d83a-4add-a056-04301a1b0906.png)

but it was not enought, cause trace do not record relation between service and db.
and it would be useful if

[2022-09-29 17:52] joshlreese opened #848 "Agent panics with multiple .shstrtab sections in file"
## Problem

The `parca-agent` panics when attempting to process an ELF file with more than one `.shstrtab` section.

This seems to be due to logic in [elfwriter.go](https://github.com/parca-dev/parca-agent/blob/58a9bdaa718e52453545ca0265bf0d3d0c4aec52/pkg/elfwriter/elfwriter.go#L539) which only expects a single section of this type and name and has [special handling](https://github.com/parca-dev/p

[2022-10-03 15:30] javierhonduco commented on #847
Hi! This feature would be great, but I don't think we will support it anytime in the short or even medium future as we are focusing mostly on CPU profiling and then memory

[2022-10-04 09:02] javierhonduco commented on #844
Interestingly, this tends to happen after stopping and starting Parca Agent many times, perhaps this issue is exacerbated by increased memory pressure?

[2022-10-04 09:07] v-thakkar commented on #847
Thanks for opening this issue @zdyj3170101136. Like Javier mentioned, we will be focusing on CPU and then memory profiling in the near future but let's keep this issue open. If you or anybody from the community would like to work on this, we'll be happy to review PRs. :)

[2022-10-04 14:51] #683 closed

[2022-10-05 10:09] kakkoyun commented on #666
Yes, definitely. Please go ahead.

[2022-10-05 14:45] kakkoyun commented on #294
Deprecated after https://github.com/parca-dev/parca-agent/pull/869

[2022-10-05 14:45] #294 closed

[2022-10-05 14:45] kakkoyun commented on #547
Deprecated after https://github.com/parca-dev/parca-agent/pull/869

[2022-10-05 14:45] #547 closed

[2022-10-05 14:46] kakkoyun commented on #826
No blockers after https://github.com/parca-dev/parca-agent/pull/869.

[2022-10-05 14:46] kakkoyun commented on #699
Deprecated https://github.com/parca-dev/parca-agent/pull/869

[2022-10-05 14:46] #699 closed

[2022-10-05 17:52] maxbrunet commented on #699
Was actually done in #839

[2022-10-06 10:00] javierhonduco opened #874 "Clean up native stack unwinding"
The DWARF unwind information parser and other bits and bobs we will be adding have a bunch of things that we can tackle over the next couple of months, mostly:

- [x] Adding tests (https://github.com/parca-dev/parca-agent/commit/d6c8535bae0f122d09f6b7ddb05294c20885aef3)
  - [x] basic unit/integration tests to make sure that the APIs don't regress
  - [x] comprehensive snapshot tests for the table

[2022-10-06 10:42] metalmatze commented on #758
Still happening `ghcr.io/parca-dev/parca-agent:main-4ba5c0a1`.

[2022-10-06 11:56] javierhonduco commented on #758
Just to clarify, the remediation in https://github.com/parca-dev/parca-agent/pull/875 does two things:
- changes the erroring with a warning log, to prevent the agent from exiting;
- fixes the logic as right now even if there's an error, we still check the `bpfEnabled` variable, which might not be correct depending on the error handling semantics of the function;

As you said, this is just remedia

[2022-10-06 14:45] #806 closed

[2022-10-06 16:47] kakkoyun commented on #758
The config actually exists, probably, the "uname" value we generate does not math the pattern. I'll investigate further.

<img width="752" alt="CleanShot 2022-10-06 at 18 32 20@2x" src="https://user-images.githubusercontent.com/536449/194371667-82ae470b-34be-44b5-8b8e-d387d263c48f.png">
<img width="672" alt="CleanShot 2022-10-06 at 18 31 58@2x" src="https://user-images.githubusercontent.com/536449

[2022-10-06 16:54] v-thakkar commented on #758
What's output of `uname -r` ?

[2022-10-06 17:24] kakkoyun commented on #758
5.4.0-122-generic

[2022-10-06 17:40] v-thakkar commented on #758
Ok, yeah then ideally it should be able to read the /boot/config-5.4.0-122-generic. Might be worth checking the permissions regarding reading the kernel config files. We may need to find a work around for the same then if that's the case.

[2022-10-06 18:23] maxbrunet commented on #758
`/boot` is not mounted in the agent pods, that fixes it (did a quick try :cowboy_hat_face:):

[code]

[2022-10-06 18:33] maxbrunet commented on #739
Ok, no problem, I might do a POC at some point anyway, just to experiment with it

[2022-10-06 18:33] #739 closed

[2022-10-10 13:58] kakkoyun commented on #739
Another alternative could be Mage (https://github.com/magefile/mage). We need to experiment, though.

[2022-10-10 16:28] kakkoyun commented on #712
@javierhonduco is this done?

[2022-10-10 16:43] kakkoyun commented on #666
@heylongdacoder Yes, I get your point. The gRPC client metrics middleware should capture the network latency of the API. The proposed metrics should cover the overall latency with the retries, I think.

[2022-10-10 17:00] kakkoyun opened #886 "Add ability to specify targets to profile for Kubernetes"
Refers to umbrella issue #690

[2022-10-10 18:11] maxbrunet commented on #7
Prometheus's [`relabel.Process(...)`](https://pkg.go.dev/github.com/prometheus/prometheus/model/relabel#Process) can be re-used, probably around this line or within the writer's `Write()` (I'll experiment)

https://github.com/parca-dev/parca-agent/blob/c869910ebe3ceb7e7f3d86062cf213031f2ab6a8/pkg/profiler/cpu/cpu.go#L272

And then, reflect changes in the UI as well.

[2022-10-11 03:42] heylongdacoder commented on #666
got it!

[2022-10-11 09:05] kakkoyun opened #889 "relabelling: Add jsonnet generators for config file (and its flag)"
Also we should update jsonnet files for the new flag.

_Originally posted by @kakkoyun in https://github.com/parca-dev/parca-agent/issues/887#issuecomment-1274335351_

cc @maxbrunet

[2022-10-11 09:06] kakkoyun opened #890 "relabelling: cache the result of relabeling functions"
I think this can totally be a follow up, but relabel configs are pure functions meaning as long as relabel configs don’t change the produced labelset doesn’t change. Therefore for any given process we need to only relabel once and can from there cache the result.

_Originally posted by @brancz in https://github.com/parca-dev/parca-agent/pull/887#pullrequestreview-1137015174_

cc @maxbrunet

[2022-10-11 09:07] kakkoyun commented on #886
Closing for the sake of https://github.com/parca-dev/parca-agent/pull/887

[2022-10-11 09:07] #886 closed

[2022-10-11 09:11] kakkoyun commented on #690
Closing for the sake of https://github.com/parca-dev/parca-agent/pull/887

[2022-10-11 09:11] #690 closed

[2022-10-11 09:19] kakkoyun opened #891 "relabelling: Apply of the drop rule before capturing the events"
The relabeling functionality we provide prevents the agent from sending profiles if the relabeling configuration specifies a `drop` fule. We should experiment using this rule to prevent the `perf_event` from being captured in the first place. This requires us to bring back the target discovery mechanism we had before system-wide profiling and apply relabelling rules before we sync them to the eBPF

[2022-10-11 15:29] brancz commented on #891
I want to highlight this in particular. My gut feeling is we don’t actually need anything more than this.

The whole point of the Parca project is to profile everything all the time, so this would be the thing that dictates all direction of the project. We may allow other features and ways of using the tool but if this comes at complexity at the burden of the main feature set I would prefer to hav

[2022-10-11 21:35] maxbrunet commented on #890
Excellent idea! Invalidation would need to happen on config reloads and on updates from the service discovery

[2022-10-12 07:22] #7 closed

[2022-10-12 12:37] kakkoyun commented on #290
@dnoland1 Have you had a chance to test the latest stable versions of Parca and Parca Agent? Does the error persists?

[2022-10-12 14:19] kakkoyun opened #896 "Add a probe preloading check at start-up to test kernel features"
libbpf has this nifty function to test kernel capabilities at loading time; however, the function is not exported, so it can't be used with libbpfgo directly https://github.com/libbpf/libbpf/blob/1714037104da56308ddb539ae0a362a9936121ff/src/libbpf.c#L4396-L4429

But we can add a similar check on our own by building a tiny probe program that does not do anything and check the kernel capabilities at

[2022-10-12 14:23] #848 closed

[2022-10-12 14:25] kakkoyun commented on #590
fixed by https://github.com/parca-dev/parca-agent/pull/895

[2022-10-12 14:25] #590 closed

[2022-10-12 15:01] v-thakkar opened #897 ".eh_frame based stack walking - v1"
List of things we're planning to clean up and merge in `main` before releasing the next version of the agent.

- [x] Reverting back to the C toolchain #869
- [x] Unwind table generation + printing #867
- [x] Validation and correctness tests/program, related binaries https://github.com/parca-dev/parca-agent/pull/917
- [x] Add the BPF unwinder, behind a flag

[2022-10-12 20:45] maxbrunet commented on #896
Those checks do not run when the agent starts and loads libbpf?

For example, the agent bumps `rlimit_memlock`, and libbpfgo was doing it as well, but it has been removed (aquasecurity/libbpfgo#225), because it is automatically done in v1. Would it possible to remove it here and let libbpf handle that?

https://github.com/parca-dev/parca-agent/blob/1ce2d9ac8796622d4059fc05887231c8e22ceab5/pkg/prof

[2022-10-13 07:46] kakkoyun commented on #896
Yes, but it is not in start-up and it only fails the profiler. We want to stop agent to work if we can't run eBPF programs.

For the rlimit_memlock, we can remove it after migrating to libbpf v1.0.0. I haven't checked the implementation, does it bump the limit to match the map capacity?

[2022-10-13 08:07] javierhonduco commented on #712
@kakkoyun yes, the original implementation reloads the kernel symbols from time to time, e.g. when the hash mismatches or when the timer times out.

Have you observed it behaving differently?

[2022-10-13 09:05] kakkoyun commented on #712
Noop. I was just tiraging the issues! Thanks 🙏

[2022-10-13 09:05] #712 closed

[2022-10-13 09:09] kakkoyun commented on #826
Done by #901

[2022-10-13 09:09] #826 closed

[2022-10-13 10:21] javierhonduco commented on #652
For more context, @kakkoyun added the executable name in https://github.com/parca-dev/parca-agent/pull/695. This is fetched by following [the symlink pointed by `/proc/<pid>/exe`](https://github.com/keybase/go-ps/blob/91aafc93ba19d1988cff338c1929d35b6c6f5b50/process_unix.go#L49). `comm` can be different to the process' executable, as it can be modified by the process. It's typically changed to set

[2022-10-13 12:41] heylongdacoder commented on #421
I did some troubleshooting on this issue and I think the error message is come from the `badger`. This line of code(https://github.com/dgraph-io/badger/blob/master/txn.go#L357) match the error message above. Let me study how to fix this.

[2022-10-13 19:23] maxbrunet commented on #896
https://github.com/libbpf/libbpf/commit/216eaa760edf06f3521d5d49a419515607c1f38e

TL;DR: Kernel <5.11, infinity. Kernel >5.11, nothing/unnecessary

[2022-10-14 17:05] heylongdacoder commented on #421
I think this issue is fixed by https://github.com/parca-dev/parca/pull/1178. Since this PR introduce some hashing to reduce the length of key.

[2022-10-17 08:51] heylongdacoder commented on #697
👋 hello, is this to add a new `ProcessDiscoverer` under the discovery manager and its responsibility is to discover all the processes in the machine and enrich the label for certain pid?

[2022-10-19 08:40] javierhonduco opened #928 "releasing: Create a release with ASAN enabled"
It would be very beneficial to also have a build of Parca Agent with Adress Sanitizer (`make build-dyn ENABLE_ASAN=yes`) that we could run in the Demo environment.

If we suspect there's a bug that some user is experiencing that looks like it could be memory safety-related issue, we could ask them to run the ASAN-built binary more easily without having to generate a custom build.

Some of the bugs

[2022-10-20 12:53] #702 closed

[2022-10-20 13:47] javierhonduco opened #933 "Bad section index (corrupt ELF files)"
While profiling my system's Python3 (Python 3.10.7, `build_id=747c3dc381977d830eb6a14c7535efbb81fe117e`, from Fedora 36) I noticed that symbols weren't being symbolized. After some reading through the logs, it seemed that the debug information wasn't present, so the `symtab` symbolization backend was used, but it is failing with:

[code]

The original binary seemed to have the symbol table:
[code]

[2022-10-20 16:27] maxbrunet opened #934 "ci: e2e tests not working on PR from forks"
`secrets` and ghcr.io are not available to forks.

https://github.com/parca-dev/parca-agent/blob/4ab2341857de53c935191775a9bf8a8214b00ba8/.github/workflows/container.yml#L187-L209

e2e tests should use a local registry instead. It should be possible to export/import the built image and pass it between steps with the upload/download actions.

[2022-10-25 09:11] Sylfrena opened #945 "ci: e2e tests timeout during deploying cluster"
e2e checks occasionally timeout while rolling out the parca/parca-agent as can be seen [here](https://github.com/parca-dev/parca-agent/actions/runs/3297363601/jobs/5439937889
)
[code]

Similar behaviour happens [here](https://github.com/parca-dev/parca-agent/actions/runs/3288442926/jobs/5420684638) although the cause here may be different
[code]

[2022-10-25 09:18] Sylfrena opened #947 "ci: e2e tests are flaky"
e2e tests were recently merged in #478 but the checks have been failing with flaky
behaviour due to various causes. This is a parent issue to track all the bugs and fixes to
stabilise the checks.

### Issues

- #934
- #945
- #987

### PRs

- #923
- #962
- #1000
- #1061
- #1090

[2022-10-25 10:27] #652 closed

[2022-10-25 10:29] javierhonduco commented on #845
Just bumped into this which is semi-related to this issue:

What I think it's going on is that we are not properly filtering and not finding the right metadata for dynamically loaded executables. Will add some more information once I publish the code I am working on that aims to tackle this

[2022-10-25 12:24] javierhonduco commented on #749
Just saw this issue, I think that using different PC sizes will be tricky, to say the least, in BPF. But I'll be incredibly happy if you prove me wrong 😄

[2022-10-25 13:23] javierhonduco opened #949 "reliability: Unfrequent segmentation fault"
I've been experiencing very rarely occurring (maybe once every 100 executions?) segfault when running the Agent. This build contained ASAN instrumentation:

[code]

[code]

Unfortunately, `coredumpctl` says that these core files are missing :(

[2022-10-25 13:25] javierhonduco opened #950 "testing: `TestPIDMappingFileCache` is flaky"
[code]

[2022-10-25 13:27] javierhonduco opened #951 "lint: Fix errors on `main`"
[code]

[2022-10-25 13:37] v-thakkar commented on #749
I think it can be doable. But challenge accepted :sweat_smile: I'll give it a try next week.

[2022-10-25 13:49] javierhonduco commented on #749
Sounds good – I would suggest holding this on once v2 (loosening of the kernel version, bigger tables) lands, as some implementations that might work on the v1 might not work on v2

[2022-10-25 17:49] #889 closed

[2022-10-26 11:49] javierhonduco commented on #762
This is not needed anymore, when I opened this issue we were dealing with lots of table generation issues but now we have fixed all of them (knocks on wood!) and this wouldn't be useful. We've created https://github.com/parca-dev/testdata with a diverse set of binaries that we use for our snapshot tests https://github.com/parca-dev/testdata

[2022-10-26 11:49] #762 closed

[2022-10-26 11:55] javierhonduco commented on #773
The answer is yes! While they happen rarely, they are needed. This was fixed our dwarf unwind information parser in https://github.com/parca-dev/parca-agent/pull/922

[2022-10-26 11:55] #773 closed

[2022-10-26 11:58] javierhonduco commented on #844
I haven't seen this error since I reworked the implementation to get it ready to land in https://github.com/parca-dev/parca-agent/pull/948.

Closing the issue, let's re-open it if this happens again

[2022-10-26 11:58] #844 closed

[2022-10-26 12:03] v-thakkar commented on #792
We've spot checked this with readelf output and we seem to be generating correct tables. Our generated table for libc can be found here: https://github.com/parca-dev/testdata/blob/main/tables/ours_libc_so_6.txt

[2022-10-26 12:03] #792 closed

[2022-10-26 13:06] #697 closed

[2022-10-26 13:31] v-thakkar commented on #933
Just to give a little update on this issue, this happens with a libpython executable on Ubuntu as well. The bug seems to be in how `shstrndx` is being handled for the .dynsym. I haven't found the exact bug yet but getting closer to it :)

[2022-10-26 13:42] kakkoyun commented on #933
@v-thakkar Let me know if I can help with anything. I can help with bouncing ideas as well.

[2022-10-27 01:30] maxbrunet opened #961 "Add readiness/liveness HTTP endpoints"
This will allow to create probes for the Kubernetes DaemonSet to ensure rollouts are successful

Right now we hope it is running when this command returns:

https://github.com/parca-dev/parca-agent/blob/0e4ef533698b40c09d1295fb05dc1bd64ba04162/e2e/ci-e2e.sh#L73

[2022-10-27 07:06] javierhonduco opened #964 "Reduce ELF `Open` calls"
## Background

Currently, we are spending ~10% of the Agent's CPU cycles opening ELF files. We need to do this for our profiler to work, for example, the `build_id` is stored in an ELF section, but the current APIs result in excessive calls to `Open()` as the flamegraph below shows, as they mostly accept a string with the path to the elf file rather than an `*elf.File`.

## Potential impact
While

[2022-10-27 07:12] javierhonduco commented on #421
@kakkoyun sounds good to me! Closing it, let's keep an eye just in case it happens again

[2022-10-27 07:12] #421 closed

[2022-10-27 07:31] javierhonduco commented on #950
Plot twist, it wasn't flaky! I had changed a function in a library we use `parseMappingEntry()` and ended up reverting the revert of my changes! 🤦‍♂️

[2022-10-27 07:31] #950 closed

[2022-10-27 17:14] #961 closed

[2022-10-30 11:46] palash25 commented on #760
@kakkoyun can i take this up if no one is working on this?

[2022-10-30 16:10] maxbrunet commented on #760
Hey @palash25, thank you for your interest, I have some work ready, I'll open the PR on Monday. Sorry, I should have assigned myself

[2022-10-31 09:09] v-thakkar commented on #933
When I try to read the output produced by our aggregating_elfwriter for the `libpython3.10.so.1.0,` readelf shows me the following warning.
[code]
So looks like this is related to what we saw earlier in #582.

[2022-10-31 14:49] kakkoyun commented on #933
@v-thakkar, I just saw this comment. This confirms my suspicions about the links, as we discussed in our sync.

[2022-10-31 14:52] kakkoyun commented on #760
@palash25 We have other good first issues. Please let us know if we can help you find things to start 🤗  Also feel free to join our bi-weekly office hours on Thursdays.

[2022-10-31 17:08] palash25 commented on #760
yeah no problem i would look for some other issues, thanks for the prompt response

[2022-10-31 23:47] maxbrunet commented on #2
CPython 3.12 will add support perf maps, which will allow to profile Python like NodeJS/Java

https://docs.python.org/3.12/howto/perf_profiling.html#perf-profiling

Shared on Discord: https://discord.com/channels/877547706334199818/877547706334199821/1036782373121032204

[2022-11-01 10:26] v-thakkar commented on #897
All of this has been merged now in the main with the final PR #948.

[2022-11-01 10:26] #897 closed

[2022-11-01 10:30] v-thakkar commented on #896
JFYI, there is a separate issue for the rlimit thingy https://github.com/parca-dev/parca-agent/issues/388.

[2022-11-01 10:32] v-thakkar commented on #388
https://github.com/aquasecurity/libbpfgo/pull/225

[2022-11-01 10:33] javierhonduco opened #973 ".eh_frame based stack walking – v2"
This version is focused on broadening availability and starts the scalability efforts

- [x] Smaller table row size (130k unwind rows → ~170k (in the end 250k)) https://github.com/parca-dev/parca-agent/commit/03495a09be453e06b81ddfca8df4c9a5a8eb8834
- [x] Removing `bpf_loop` (kernel 5.17 → ~4.9, TBD, at least kernel 4.9 because it's when tail calls + BTF are available, but currently, we say we sup

[2022-11-01 11:06] jnsgruk commented on #692
This is now resolved, the snap is now using classic confinement, and that ability is live in the store. Sorry for the delay!

[2022-11-01 11:06] #692 closed

[2022-11-01 12:01] kakkoyun commented on #896
To clarify things here; The goal was to make sure the Kernel has all the necessary bits. The helper function that I've referred to happened to have the rlimit access check as well. So the goal of the issue is not the rlimit!

And it's time to address #388 actually, we have migrated to libbpf v1.0.0 already.

[2022-11-01 12:02] kakkoyun commented on #896
@javierhonduco and I discussed having a program that would be loaded at startup to cover needed functionality. e.g. https://github.com/javierhonduco/rbperf/blob/main/src/bpf/features.bpf.c

Since the helper function that has been proposed in the description is not exported.

[2022-11-01 12:32] javierhonduco commented on #949
Perhaps it's a different root cause, but this time caught it under GDB... Although I wasn't able to find any insightful information...

[code]

[2022-11-01 12:37] v-thakkar commented on #896
Ah, yes. Forgot that we did it already. :see_no_evil:  I'll take care of #388.

Yes, I got that. That's why I referenced rlimit one to continue the discussion there. Just to keep things separate. :)

Ah, yes. Forgot that we did it already. :see_no_evil:  I'll take care of #388.

[2022-11-01 12:41] javierhonduco commented on #388
Recently https://github.com/aquasecurity/libbpfgo/pull/265 got merged which may change this behaviour. Once we bump `libbpfgo`, let's make sure everything works in the Demo env, as well as Minikube, besides our local environments

[2022-11-01 12:53] v-thakkar commented on #388
Thanks for pointing it out. Didn't see it. Seems like the issue with libbpf's RLIMIT_MEMLOCK isn't resolved even in libbpf 1.0. :( Will take a look later at what exactly is the problem with libbpf's implementation. It's been there for a while.

[2022-11-01 14:11] kakkoyun opened #974 "Make the Agent exit with an error if none of the profilers work"
We only have one profiler (as of now, but we plan to add many); if that profiler fails, there's not much to do for the agent. We should make sure the agent exits and propagate the error of the underlying profiler. We can start the profilers in their workgroup in the main. We can hoist `bpf.Module` one abstraction level up and pass it to profilers to load their eBPF programs.

cc @Sylfrena @javierh

[2022-11-01 14:12] kakkoyun commented on #483
Fixed by #366

[2022-11-01 14:12] #483 closed

[2022-11-02 10:50] javierhonduco opened #979 "Stack quality: kernel stack is not always in the right merged stack"
<img width="1352" alt="image" src="https://user-images.githubusercontent.com/959128/199471258-f3a18358-67e8-4cde-b1bd-30fe74f08a15.png">

[2022-11-02 14:36] kakkoyun commented on #934
There are two ways to fix it either using a local registry with https://github.com/docker/build-push-action/blob/master/docs/advanced/local-registry.md or exporting image as tar and uploading it as artifact https://stackoverflow.com/a/65369271/1113525

The downside of the first object is, it should be within the job, you can't expose services to other jobs. And there's the challenge of accessing t

[2022-11-02 18:00] #760 closed

[2022-11-02 19:46] petr-postulka commented on #1
Hi, is there any update for this ticket? Any ETA when JVM profiling is supported by parca-agent by default?

[2022-11-02 19:55] #890 closed

[2022-11-02 19:58] maxbrunet opened #984 "Ensure cache keys using PID are unique"
We should be able to add the `starttime` field of `/proc/[pid]/stat` to the cache key: `awk '{print $23}' "/proc/${pid}/stat"`

https://pkg.go.dev/github.com/prometheus/procfs#ProcStat.StartTime

_Originally posted by @maxbrunet in https://github.com/parca-dev/parca-agent/issues/960#issuecomment-1300932155_

There are at least two caches to look into, in the discovery manager and in the label mana

[2022-11-02 20:17] kakkoyun commented on #1
We just started working on this. We plan to land an initial support before this year ends.

[2022-11-03 05:02] Sylfrena opened #987 "e2e: add test to detect faulty profiles"
Query output:
<img width="1797" alt="CleanShot 2022-11-02 at 15 01 35@2x" src="https://user-images.githubusercontent.com/536449/199510373-5cb68bf7-cca8-45a1-ac26-5c19313753c8.png">

Logs:
[code]

cc @javierhonduco @maxbrunet

_Originally posted by @kakkoyun in https://github.com/parca-dev/parca-agent/issues/962#issuecomment-1300525570_

[2022-11-03 10:22] javierhonduco commented on #984
Yes! Exactly the approach I had in mind :). It's how I implemented a [similar logic](https://github.com/javierhonduco/rbperf/commit/272c8f3087b9f85c092ffccfbd131088e6b7d21d) in rbperf to ensure that the right process is profiled, and was planning on reworking all this in the Agent at some point

[2022-11-03 12:07] #973 closed

[2022-11-03 16:07] javierhonduco commented on #949
Bumped into this again, had a suspicion of the GC freeing pointers managed by libbpf, tried disabling `GOGC=off`

[code]

So this hypothesis doesn't seem correct!
[code]

[2022-11-03 16:15] javierhonduco commented on #949
This doesn't look right

<img width="652" alt="image" src="https://user-images.githubusercontent.com/959128/199774869-3c580bbf-7614-4b25-9d65-36f8f88557df.png">

<img width="635" alt="image" src="https://user-images.githubusercontent.com/959128/199774920-efa6d154-0315-4113-bfcd-3ea2e0e628c5.png">

[2022-11-03 17:37] kakkoyun opened #991 "[release blocker] The CPU profiler fails to load on Kubernetes after recent changes"
#### Logs:
[code]
#### Kernel version:
`Linux scw-parca-demo-default 5.4.0-122-generic #138-Ubuntu SMP Wed Jun 22 15:00:31 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

#### Kernel config:
[code]

#### Daemonset config:

[code]

cc @javierhonduco

[2022-11-07 13:23] brancz opened #995 "`container` label missing"
parca-agent used to have the `container` label, but this label is now gone. Other labels such as `pod` and `namespace` are working.

<img width="1346" alt="Screenshot 2022-11-07 at 14 23 08" src="https://user-images.githubusercontent.com/4546722/200321173-7daebef2-bf34-414b-9d60-717e8bb27649.png">

[2022-11-07 17:31] javierhonduco commented on #991
https://github.com/parca-dev/parca-agent/pull/996 should fix this issue :)

[2022-11-07 17:34] javierhonduco commented on #991
Will update the image in the Demo environment as soon as it gets pushed and will update here

[2022-11-07 22:50] dnoland1 commented on #290
@kakkoyun I tried again, but could not get far. After running:
[code]
The parca pod was crashing:
[code]
Logs:
[code]

[2022-11-08 03:46] kakkoyun commented on #290
Thanks for trying :) This is an issue we need to fix on the server-side.

[2022-11-08 16:01] brancz opened #998 "Allow collecting other perf-events"
When opening the perf-event, it would be nice if we could record types other than just `PERF_COUNT_SW_CPU_CLOCK`.

It might even make sense to allow passing the [event type](https://man7.org/linux/man-pages/man2/perf_event_open.2.html) itself, but a few that are interesting at first glance:

* `PERF_COUNT_HW_CACHE_ITLB`
* `PERF_COUNT_SW_PAGE_FAULTS`
* ... (pretty much anything has value, that's wh

[2022-11-08 16:44] brancz commented on #998
Thinking through the UX here. I would suggest an addition to our existing configuration file something like:

[code]

This would describe the current profiler we have. A hardware profiler such as for iTLB cache hit/miss profiling would be another entry:

[code]

Thougts? Or is it easy to shoot yourself in the foot with this?

[2022-11-08 18:06] brancz commented on #998
I think for a start we might actually make it just high level named profilers, such as

* `cpu`
* `itlb_cache`
* ...

We'd love to hear what people would like to see.

[2022-11-09 08:43] kakkoyun commented on #998
I liked both the fine-grained configuration and the high-level profilers. How about having both? We can have the configuration structure, and we can have `presets` (CPU, itlb_cache, etc.) for the high-level named profilers. And they could be specified in the configuration depending on the user preference.

[2022-11-09 08:51] brancz commented on #998
I think I would prefer to go as long as we can with “there is one way to do X”

[2022-11-09 11:23] v-thakkar commented on #933
Just updating the information on the issue as well. From the added tests on elfwriter, we can see that the .debuginfo files are extracted correctly. We are still seeing the .debuginfo files on the parca side with bad indexes but the symbols are correct. As the symbolization is currently broken (as mentioned in the above-linked issue) for the object files with .dynsym sections, it's hard to determi

[2022-11-09 20:49] maxbrunet commented on #934
My suggestion was to combine both. With the Minikube's `none`, importing the image into Docker should be enough (I guess it is enough in any case as we could use `minikube docker-env`)

[2022-11-12 01:50] Hixon10 commented on #1
FYI: Maybe [https://github.com/grafana/JPProf](https://github.com/grafana/JPProf) helps somehow with implementation for given task.

[2022-11-12 08:12] kakkoyun commented on #1
Thanks for the suggestion. `JPProf` is a library you need to add to your application, so it's instrumentation. We are planning to provide an experience where you don't need to change anything in your application :)

[2022-11-12 08:14] kakkoyun commented on #991
Thanks for the report, Max. We'll look into it.

[2022-11-14 14:31] kakkoyun commented on #991
@maxbrunet Just in case: Could you run ` make clean bpf build`? (paranoia) and also share your kernel config? (only bpf ones enough) `zcat /proc/config.gz | grep BPF`

[2022-11-14 15:20] #995 closed

[2022-11-14 20:22] maxbrunet commented on #991
Yup, still an issue after `make clean bpf build`

[code]

[2022-11-15 00:06] maxbrunet opened #1016 "Renovate timeouts when updating Go dependencies"
This blocks update PRs from being opened

[code]

https://app.renovatebot.com/dashboard#github/parca-dev/parca-agent/889386661

`go get -d -t ./...` takes forever since #1011

[2022-11-15 15:09] brancz opened #1018 "Replace `unix.ByteSliceFromString` with own implementation"
[`unix.ByteSliceFromString`](https://pkg.go.dev/golang.org/x/sys/unix#ByteSliceFromString) is behind a build tag, which causes it not to work under windows. I stumbled over this while trying to add windows as a build target in [`parca-debuginfo`](https://github.com/parca-dev/parca-debuginfo). As far as I can tell we should easily be able to replace this with our own implementation, which would all

[2022-11-15 15:13] javierhonduco commented on #991
The verifier error indicates that the loop wasn't unrolled automatically or couldn't be proved to be bounded

Did not manage to reproduce it yet, tried with kernel `5.15.7` and it worked

[code]

The investigation continues

[2022-11-15 19:56] maxbrunet commented on #991
@javierhonduco I know you figured it out as discussed on Discord, although here is a way to reproduce with any kernel version, it may be useful next time :hugs:

1. Get Vagrant if you do not have it already: https://developer.hashicorp.com/vagrant/downloads
2. Drop this config in a `Vagrantfile` file:

[code]

3. Run `vagrant up`
4. Have a pre-built `parca-agent` binary under the current directory

[2022-11-15 20:59] #991 closed

[2022-11-15 21:01] javierhonduco opened #1025 "Wrong frames in profile"
Not sure if this is an issue only happening to the dwarf-based unwinder. It used to work fine (https://github.com/parca-dev/parca-agent/commit/0abd8e737e1f931ea3990953643577ef4208096a) but now it's broken.

This might be an issue in the unwinder, profile generation, or backend. Needs more investigation

<img width="1271" alt="image" src="https://user-images.githubusercontent.com/959128/202024001-8

[2022-11-15 21:05] marselester commented on #964
Hi! This PR partially reduces number of `elf.Open()` calls https://github.com/parca-dev/parca-agent/pull/1022.

[2022-11-15 21:22] javierhonduco commented on #1025
I think this is a Parca issue because that same revision shows the broken stacks now

[2022-11-15 21:47] kakkoyun commented on #184
A candidate for promised but belated release is here https://github.com/parca-dev/parca-agent/releases/tag/v0.10.0-rc.0

@tonychoe @jcr179 I would appreciate if you could give it a try

[2022-11-16 08:03] zdyj3170101136 opened #1026 "start parca-agent failed"
start command:
[code]

result:
[code]

#### helpful information
cat /proc/version
[code]

[2022-11-16 08:18] kakkoyun commented on #1026
You are using an unsupported Kernel version. Please take a look at https://github.com/parca-dev/parca-agent#requirements

[2022-11-16 08:22] kakkoyun commented on #709
We can achieve this using Vagrant rather easily.

https://github.com/jonashackt/vagrant-github-actions
https://github.com/parca-dev/parca-agent/issues/991#issuecomment-1315796852

cc @maxbrunet @javierhonduco

[2022-11-16 08:27] kakkoyun opened #1027 "ci: Snap builds fail on tags"
https://github.com/parca-dev/parca-agent/actions/runs/3474268375/jobs/5807311290#step:5:17

@jnsgruk any quick ideas come to mind?

[2022-11-16 08:40] zdyj3170101136 commented on #1026
seems parca-agent is not support for our company's linux version now.

I have an idea:
usr a program do perf record  every minute for 10 seconds。

And it would return profile file which contain address, funcname, function but without line number。
for go program, we could use go executable file to get line number.

I am wonder this action's difference between parca-agent?

[2022-11-16 08:40] zdyj3170101136 commented on #1026
seems parca-agent is not support for our company's linux version now.

I have an idea:
usr a program do perf record every minute for 10 seconds。

And it would return profile file which contain address, funcname, function but without line number。
for go program, we could use go executable file to get line number.

I am wonder this action's difference between parca-agent?

[2022-11-16 08:47] kakkoyun commented on #1026
Sorry @zdyj3170101136, I didn't understand the question here. Could you please rephrase it?

[2022-11-16 08:57] brancz opened #1028 "PodSecurityPolicy incomplete for v0.10.0-rc.0"
Rolling out Parca Agent to a cluster that has PodSecurityPolicies enabled showed that two allowed paths were missing:

[code]

[2022-11-16 08:59] jnsgruk commented on #1027
Oops. Think the PR mention above should sort it!

[2022-11-16 08:59] brancz opened #1030 "No need for `hostPort`"
The published Parca Agent kubernetes manifests use a `hostPort` configuration, which the Parca Agent doesn't actually need and prevents people from deploying two versions of a Parca Agent onto the same node for canary purposes for example. Since it's not needed I was able to just remove it and everything worked. I would suggest we remove it entirely.

[2022-11-16 09:15] zdyj3170101136 commented on #1026
use linux perf tool, i would get profiling data, too.

what is the difference between perf tool and parca-agent?

Is ebpf cost less cpu compared with perf?

[2022-11-16 09:30] brancz opened #1031 "Reduce BPF related memory allocations"
When trying to deploy parca-agent on low-memory nodes I get various memory related errors:

[code]

[2022-11-16 10:21] brancz commented on #1026
We're building much more sophisticated mechanisms in eBPF with the parca-agent such as dwarf-based unwinding directly in the ebpf program. I think working with perf is out of scope for parca-agent, but I still think there is use for building something surrounding perf, just not within the parca-agent repo.

We actually built a small proof of concept a while ago, that if you want you can pick up: h

[2022-11-16 11:12] kakkoyun commented on #1027
@jnsgruk Thanks for swift action ❤️

[2022-11-16 13:26] #1028 closed, assigned to kakkoyun

[2022-11-16 13:26] #1030 closed

[2022-11-16 14:02] brancz commented on #1025
Which version of parca was this using?

[2022-11-17 12:09] javierhonduco commented on #1031
Just in case somebody bumps into this, I am working on a fix, need to do some more testing once I have the cycles. Will most likely be ready for review this evening or tomorrow morning 😄

[2022-11-17 14:46] javierhonduco opened #1037 "performance: ~15% of the CPU cycles are spent in the dbus/systemd packages"
https://github.com/parca-dev/parca-agent/pull/971 introduced a library to query systemd, rather than relying on `systemctl`. While perhaps before we were using the same CPU as now (unsure), this puts more pressure on the GC, as well as spends more CPU cycles that perhaps before were spent waiting for the process to report back

![image](https://user-images.githubusercontent.com/959128/202477014-77

[2022-11-17 16:38] maxbrunet commented on #1037
It must have been 0 CPU usage before, the cli was not available in the container. It is polling once every seconds, the frequency could be reduced:

https://github.com/parca-dev/parca-agent/blob/23cfe1e1406cea56c382558bfa68e7f922fd3783/pkg/discovery/systemd.go#L63

[2022-11-17 21:42] brancz commented on #1031
Closed by #1042

[2022-11-17 21:42] #1031 closed

[2022-11-18 14:42] javierhonduco commented on #1025
Unfortunately, I don't remember, but I think it was a bit old. Tried on this revision and it was all good, so closing this issue :)

[code]

[2022-11-18 14:42] #1025 closed

[2022-11-18 14:43] javierhonduco commented on #979
I've also seen this, which might be an instance of the same problem

<img width="300" alt="image" src="https://user-images.githubusercontent.com/959128/202730910-44321a75-28fe-4553-889a-1a42ab5f324c.png">

[2022-11-18 15:04] kakkoyun opened #1048 "snap: Builds started to fail"
https://github.com/parca-dev/parca-agent/actions/runs/3497876186/jobs/5857631546

[code]

Any ideas? Anyone?

cc @jnsgruk (Let me know if you don't want to get pinged ☺️ )

[2022-11-18 15:22] jnsgruk commented on #1048
Hmm. That's odd. I've had issues with 22.04 on runners where docker is also installed - LXD and Docker sometimes fight over iptables and LXD containers end up with no outbound internet access.

AFK today but happy to take a look on Monday! It might work better if the runner is on Ubuntu Focal as a starter, and I could follow up with a change to make out functional on Jammy

[2022-11-18 15:25] jnsgruk commented on #1048
Yeh reading some GitHub issues, it looks like `ubuntu-latest` only started meaning 22.04 quite recently so we might have been bitten by the shift in underlying version

[2022-11-18 15:59] brancz commented on #979
`0x0` addresses are something that the Parca server does. It throws away the address when the address does not correspond to any range of any available mapping.

[2022-11-21 00:26] marselester commented on #581
Hi! I was wondering if Parca would symbolize `_start` of `/usr/bin/python3`, and it doesn't seem so. Maybe the information below could be useful to solve this issue.

There is no `.symtab` section, but `.dynstr` is present.

<details>

<summary>objdump -x /usr/bin/python3</summary>

[code]

</details>

The `_start` function was found at `0x5b2340` address in `.dynsym` section.

[code]

I wrote a s

[2022-11-21 09:00] javierhonduco commented on #581
Thanks for taking a look!! I think Vaishali was looking into these issues! cc @v-thakkar

[2022-11-21 09:40] v-thakkar commented on #581
Thanks for looking into it. It's a known issue. As you noticed, we're not handling the object files with .dynsym sections properly. So I'm working on fixing it on the symbolizer's side. You can find more details in the following links:
https://github.com/parca-dev/parca/issues/2056
https://github.com/parca-dev/parca-agent/issues/933#issuecomment-1308605060

@javierhonduco Should we close this issu

[2022-11-21 09:55] javierhonduco opened #1052 "Move away from monolithic unwind tables"
(This work is in progress. Planned to start ~end of November)

### Context
At the moment, native stack unwinding with dwarf-based information creates a monolithic unwind table. This table contains all the unwind information for every executable section for which we found dwarf unwind information.

This proved useful as it allowed us to prototype this unwinder and ensure that our approach was feasi

[2022-11-21 10:48] javierhonduco commented on #581
Sounds good to me!

[2022-11-21 11:12] metalmatze commented on #184
I would highly recommend running the tests with `v0.10.0-rc.1` now. It has improved significantly.

[2022-11-21 11:38] #581 closed

[2022-11-21 12:14] #1048 closed

[2022-11-21 14:34] marselester commented on #581
Thanks!

[2022-11-22 14:02] rafaeljesus opened #1057 "relabel_configs not working in v0.10.0-rc.0"
Hi everybody, I've recently upgraded parca-agent to `v0.10.0-rc.0`,
and in this version the `--pod-label-selector` was removed in favor of using the _relabel_configs_ from prometheus,

However, I cannot filter out pods, the agent is scraping all pods from the cluster, even though the _relabel_configs_ is configured to _keep_ profiles with label=`namespace=staging-space-station` and drop all the re

[2022-11-22 14:25] brancz commented on #845
I believe this is a problem, yes.

I _think_ because we use the binary to calculate the base address, this is probably correct.

[2022-11-22 16:25] maxbrunet commented on #1057
Hi @rafaeljesus, the agent will look for `parca-agent.yaml` by default, have you set `--config-path`?

The selected processes and the loaded config can also be previewed in the agent UI on port 7071, how does it look there?

[2022-11-22 16:31] rafaeljesus commented on #1057
hey Max, yes did set but with the pointing to the wrong path 🙈

let me fix it and will get back here asap

[2022-11-22 21:08] rafaeljesus opened #1060 "could not find profile at requested time and selectors"
I've upgraded the parca agent to `v0.10.0-rc.0` and when clicking into any of the profiles it renders the `could not find profile at requested time and selectors` error as follows

<img width="1414" alt="Screenshot 2022-11-22 at 22 01 15" src="https://user-images.githubusercontent.com/1216425/203420323-ff186d9e-fe78-4c4b-9545-3660193fad82.png">

on top of that, the autocomplete is not "autocomplet

[2022-11-22 21:09] rafaeljesus commented on #1057
done https://github.com/parca-dev/parca-agent/issues/1060

[2022-11-23 08:08] brancz commented on #1060
We’ve had someone else report this. Could you share a few things:

* what browser (and version) are you using?
* Do merge queries work?

[2022-11-23 08:28] #934 closed

[2022-11-23 08:32] kakkoyun commented on #1057
So is this issue fixed? @rafaeljesus

[2022-11-23 08:38] rafaeljesus commented on #1060
I tested this in Firefox=`106.0.3` and Chrome=`107.0.5304.110`, Safari=`15.5`(all most recent versions)

yes it does

[2022-11-23 08:43] rafaeljesus commented on #1057
this issue (i.e., relabel_confgs) is fixed, thanks everybody

[2022-11-23 08:43] #1057 closed

[2022-11-23 14:02] kakkoyun commented on #1027
I realized we hadn't closed this one correctly. But I'll reuse this. The snap build failed for the latest release https://github.com/parca-dev/parca-agent/actions/runs/3532617184/jobs/5927288986

We can fix it going forward and release it manually this time.

cc @jnsgruk

[2022-11-23 15:38] kakkoyun commented on #1027
Please go for it. Thanks 🙏

[2022-11-23 15:46] jnsgruk commented on #1027
Okay, that's done:

![image](https://user-images.githubusercontent.com/668505/203589186-dea020a6-7c91-4d05-8732-c008f828af0b.png)

I'll leave it to you to decide when the release is ready for `latest/stable` - feel free to ping me if you'd like me to promote it.

[2022-11-23 16:25] javierhonduco opened #1063 "Set the size of the unwind maps dynamically"
(related work before working on this issue: https://github.com/parca-dev/parca-agent/issues/1052)

BPF maps need to be locked in memory. This can be a problem as the unwind tables can be very large. However, we can perhaps explore the needed storage space before creating the maps and loading the programs and creating maps with the space we need. If things change, later on, we can re-create the map

[2022-11-23 18:22] brancz commented on #1060
Which operating system and version?

and does the same thing happen on https://demo.parca.dev/ ?

[2022-11-23 18:25] #1027 closed

[2022-11-23 18:28] kakkoyun commented on #1027
We officially released `v0.10.0`. We can promote it. If we discover any issues, we will release a patch version. Let's promote.

[2022-11-23 23:08] maxbrunet commented on #1016
@brancz @kakkoyun any idea what could cause that? Or suggestions for how to troubleshoot it?

All `go mod` commands return properly. I profiled it and checked `strace`, it seems to be scanning directories and files for imports forever, could there be a loop somewhere? a circular dependency?

[2022-11-24 08:09] LarsBingBong commented on #161
Any news on this?

[2022-11-24 10:27] #964 closed

[2022-11-24 10:34] brancz commented on #161
Perhaps this is what you meant, but just in case if not, we did recently add an example of what to do to get .NET application working today: https://github.com/parca-dev/parca-demo/pull/18

We're still trying to figure out why ahead-of-time compiled .NET binaries aren't working (they should to our knowledge, it might be something small): https://github.com/parca-dev/parca-demo/pull/23

The ultimat

[2022-11-24 12:55] kakkoyun commented on #1016
I need to play with this. No idea off the top of my head, except this could be a weird CI network issue.

[2022-11-24 12:59] LarsBingBong commented on #161
ahead-of-time compiled ... that's good old CI stage build *.dll files containing dotnet code? Is that what you mean? Thanks.

[2022-11-24 14:18] brancz commented on #161
I know next to nothing about .NET, so I can only go by docs or other web searches. From the docs, I understand that ahead-of-time compilation to a regular self-contained Linux ELF binary (which should work just fine with Parca Agent if debuginfos are available) is only [supported since .NET 7](https://learn.microsoft.com/en-us/dotnet/core/deploying/native-aot/), which appears to have only been [re

[2022-11-24 15:14] LarsBingBong commented on #161
Thank you for taking the time @brancz to look into this even further. Much appreciated. I'll see what I can get going here on the tracing side of things when workloads are coded in dotnet. Thank you!

[2022-11-24 15:35] kakkoyun commented on #1016
@maxbrunet I have tried this locally, and `go mod -d -t` does not work. And there's not much of output.

Is this something custom? What are we trying to achieve with this? Can't we just get away with `go mod download`?

If it's not a custom job, we can dig more and try to understand why it doesn't work for the agent. I would rather workaround it.

AFAIK since the introduction of the modules, `go g

[2022-11-24 17:03] maxbrunet commented on #161
Yes, AOT is the bleeding edge, you are likely interest by what's here (JIT): https://github.com/parca-dev/parca-demo/tree/main/dotnet (See link in README and `ENV` in Dockerfile)

[2022-11-25 14:46] Sylfrena commented on #1060
@brancz and I troubleshooted this and found out that the following parca config seems to reproduce this:
[code]

We are handling the "\x2d" incorrectly (probably in the ui).

cc @manojVivek @monicawoj @yomete

[2022-11-25 19:36] maxbrunet commented on #1016
The only thing I have found that adds output is `-x`, but it is not much either

No, it is not custom. From looking at Renovate's issues/PR/commits, the goal is to find all imports in source code and make sure `go.mod` has the extensive list of packages.

https://github.com/renovatebot/renovate/blob/main/lib/modules/manager/gomod/artifacts.ts#L275

[2022-11-26 09:02] kakkoyun commented on #1016
I will give it another try to troubleshoot.

[2022-11-28 10:23] rafaeljesus commented on #1060
1) I tested this in Mac BigSur and Arch Linux with the latest kernel
2) Default search works fine in demo.parca.dev, but autocomplete doesn't

[2022-11-28 10:33] rafaeljesus commented on #1060
thanks for checking that, the only difference with my config is that server is not scraping anything, all I have is
[code]

[2022-11-28 13:05] brancz commented on #1060
Ref on Prometheus side: https://github.com/prometheus/prometheus/issues/11629

tl;dr we need to handle escaping correctly in the frontend

[2022-11-28 15:56] javierhonduco opened #1078 "Set BPF map limits in userspace"
(Suggested in https://github.com/parca-dev/parca-agent/pull/1076)

[2022-11-29 08:53] #1060 closed

[2022-11-29 13:53] kakkoyun opened #1079 "dockerfile: Use conventional locations for the binary and config file"
What about making the default proper locations?

[code]

_Originally posted by @maxbrunet in https://github.com/parca-dev/parca-agent/pull/1064#discussion_r1032673849_

[2022-11-30 13:59] kakkoyun commented on #650
Fixed by https://github.com/parca-dev/docs/pull/202 and https://github.com/parca-dev/parca-agent/pull/1084

[2022-11-30 13:59] #650 closed